---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page index" description="" image="" url="">
  <main class="w-full transition-all ease-in duration-150" id="main"></main>
</Layout>
