---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import BooksCard from '../components/BooksComponents/BooksCard.astro';
---

<Layout title="Welcome to Astro.">
	<div class="guard-page">
		<div class="guard-page-main">
			<h1>CODE GÉNÉRAL DES IMPÔTS</h1>
			<h3>2022</h3>
			<p>Loi n° 2021-15 du 23 décembre 2021 portant code général des impôts de la République du Bénin </p>
		</div>
	</div>
	<main>
		<h2>TABLE DES MATIÈRES</h2>
		(à renseigner)
	</main>
	<main>
		<p>L’Assemblée nationale a délibéré et adopté en sa séance du 08 décembre 2021 ; 
			Le Président de la République promulgue la loi dont la teneur suit : </p>
		<p class="instructions" id="article-1">
			<strong>Article 1er :</strong>
		</p>
		<p class="list-article">
				<span class="span-color">1)</span> L’assiette, la liquidation, le contrôle et les modalités de recouvrement 
			des impositions de toute nature sont du domaine de la loi. 
			<br>
			<span class="span-color">2)</span> Les règles d’assiette, de liquidation et de recouvrement des impôts, droits et taxes 
			visés  par  le  présent  code  sont  applicables  sous  réserve  des  dispositions  des  conventions  
			internationales régulièrement ratifiées par le Bénin. 
			<br>
			<span class="span-color">3)</span> Sont nuls et de nul  effet, tous  avantages  fiscaux, toutes exonérations d’impôts, 
			droits et taxes non prévus par la loi.
		
	</p>
	</main>
</Layout>

<style>
	
	.guard-page{
		padding: 4em;
		background-color: #0d350d;
		color: white;

	}
	.guard-page-main{
		margin: auto;
		padding: 1.5rem;
		max-width: 70%;
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 90%;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.center-text{
		text-align: center;
	}
	.table-of-content{
		
	}
	.list-article{
		margin: auto;
		width: 90%;
		margin-left: 2em;
	}
	.span-color{
		color: rgb(11, 71, 3);
		font-size: medium;
		font-weight: 500;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
