---
import Layout from "../layouts/Layout.astro";
import SideBar from "../components/SideBar.astro";

const sideBarLinks = {
  title: "Conditions générales de l'équilibre budgetaire et financier",
  attributes: {
    id: "tl",
    title: "Titre",
  },
  list: [
    {
      title: "Dispositions relatives aux ressources",
      subList: [
        {
          title: "Impôts et revenus autorisés",
          enum: ["Dispositions antérieures", "Mesures reconduites", "Mesures nouvelles"],
        },
        {
          title: "Ressources affectées et ressources recouvrées au profit d'autres organismes publics",
          enum: [
            "Dispositions relatives aux collectives et aux établissements publics",
            "Dispositions relatives au budget annexe et aux comptes spéciaux du trésor",
            "Autres dispositions",
          ],
        },
      ],
    },
    {
      title: "Dispositions relatives à l'équilibre des ressources et des charges",
    },
  ],
};

const sideBarBottomLinks = {
  title: "Moyens des politiques publiques - dispositions spéciales et finales",
  attributes: {
    id: "tl",
    title: "Titre",
  },
  list: [
    {
      title: "Moyens des politiques publiques",
      subList: [
        {
          title: "Crédits budgetaires pour la gestion 2023",
          enum: [
            "Dispositions relatives au budget général",
            "Dispositions relatives au budget annexe du fonds national des retraites du Bénin",
            "Dispositions relatives aux comptes spéciaux du trésor",
            "Dispositions relatives aux reports de crédits",
          ],
        },
        {
          title: "Plafond des autorisations d'emplois pour la gestionn 2023 par le ministère et institution de l'état",
        },
      ],
    },
    {
      title: "Dispositions spéciales et finales",
      subList: [
        {
          title: "Dispositions spéciales",
        },
        {
          title: "Dispositions finales",
        },
      ],
    },
  ],
};
---

<Layout title="Bénin : Lois des finances 2023" description="" image="" url="">
  <SideBar links={sideBarLinks} bottomLinks={sideBarBottomLinks} />
  <main class="w-full transition-all ease-in duration-150" id="main">
    <div class="flex flex-col justify-center bg-[#0d350d] h-96 my-8">
      <h1
        class="mb-6 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-white text-center"
      >
        Lois des finances
      </h1>
      <h3
        class="mb-6 text-2xl font-semibold tracking-tight leading-none md:text-3xl lg:text-4xl text-white text-center"
      >
        2023
      </h3>
      <p class="mb-6 text-lg font-normal text-white lg:text-xl sm:px-16 xl:px-48 text-center">
        Loi n° 2022—33 du 09 décembre 2022 portant loi de finances pour la gestion 2023.
      </p>
    </div>

    <div class="mx-auto max-w-screen-lg">
      <div class="px-4">
        <div class="flex flex-wrap justify-center md:justify-between items-center mb-8">
          <div class="flex flex-col text-center max-w-lg mb-3">
            <h4 class="font-semibold">RÉPUBLIQUE DU BÉNIN</h4>
            <span class="font-medium">Fraternité - Justice - Travail</span>
            ----------
            <span class="font-medium">PRÉSIDENCE DE LA RÉPUBLIQUE</span>
            ----------
          </div>
          <p class="text-center max-w-lg">
            LOI N° 2022 — 33 DU 09 DECEMBRE 2022 portant loi de finances pour la gestion 2023.
          </p>
        </div>

        <p class="mb-2 text-center">
          L’Assemblée nationale a délibéré et adopté en sa séance du 1<sup>er</sup> décembre 2021 ;
        </p>
        <p class="mb-2 text-center">Le Président de la République promulgue la loi dont la teneur suit :</p>

        <p class="mb-2"><b>PREMIERE PARTIE</b></p>
        <p class="mb-2"><b>CONDITIONS GENERALES DE L'EQUILIBRE BUDGETAIRE ET FINANCIER</b></p>
        <p class="mb-2"><b>TITRE I</b></p>
        <p class="mb-2"><b>DISPOSITIONS RELATIVES AUX RESSOURCES</b></p>
        <p class="mb-2"><b>I - IMPÔTS ET REVENUS AUTORISES</b></p>
        <p class="mb-2"><b>A - DISPOSITIONS ANTERIEURES</b></p>
        <p class="mb-2">
          <b>Article 1<sup>er</sup> :</b> Sous réserve des dispositions de la présente loi, continueront d'être opérées,pendant
          l'année 2023, conformément aux dispositions législatives et réglementaires en vigueur :
        </p>

        <p class="ml-6 mb-2">
          1- la perception des impôts, taxes, rémunérations des services rendus par l'État,produits et revenus affectés
          à l'État ;
        </p>
        <p class="ml-6 mb-2">
          2- la perception des impôts, taxes, produits et revenus affectés aux collectivitéslocales, aux établissements
          publics et organismes divers dûment habilités.
        </p>
        <p class="mb-2">
          En ce qui concerne les impôts sur le revenu, sauf précision contraire contenue dans le texte des mesures
          fiscales énoncées, les dispositions de la présente loi s'appliquent aux revenus de l'exercice clos au 31
          décembre 2022.
        </p>
        <p class="mb-2">
          Toutes contributions directes ou indirectes, autres que celles qui sont autorisées par lesloiset décrets en
          vigueur et par la présente loi, à quelque titre ou sous quelquedénomination qu'elles se perçoivent, ne sont
          pas autorisées, sous peine de poursuites,contre les fonctionnaires et agents qui confectionneraient les rôles
          et tarifs et ceux quien assureraient le recouvrement, comme concussionnaires, sans préjudice de l'actionen
          répétition pendant trois (03) années, contre tous receveurs, percepteurs ou individusqui en auraient fait la
          perception.
        </p>
        <p class="mb-2">
          Sont également passibles des peines prévues à l'encontre des concussionnaires, tousdétenteurs de l'autorité
          publique qui, sous une forme quelconque et pour quelquemotif que ce soit, auront, sansautorisation de la loi,
          accordé toute exonération ou franchise de droit, impôt ou taxe ou auront effectué gratuitement la délivrance
          deproduits des établissements de l'Etat.
        </p>

        <p class="mb-2">
          Ces dispositions sont applicables aux personnels d'autorité des entreprises nationalesqui auront effectué
          gratui tement sans autorisation l égale ou réglementai re, ladélivrance des produits ou services de ces
          entreprises.
        </p>
        <p class="mb-2" id="">B- MESURES RECONDUITES</p>
        <p class="mb-2">
          <b>Article 2 :</b> Les camions neufs importés, fabriqués ou vendus à l'état neuf en Républiquedu Bénin sont exonérés
          de tous droits et taxes de douane et de la taxe sur la valeurajoutée (TVA) durant la période allant du 1<sup
            >er</sup
          > janvier au 31 décembre 2023.
        </p>

        <p class="mb-2">Toutefois, ils restent assujettis aux prélèvements, taxes et redevance ci -après</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire de solidarité (PCS)</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire (PC) ;</p>
        <p class="mb-2 ml-8">- Prélèvement de solidarité (PS) ;</p>
        <p class="mb-2 ml-8">- Taxe de statistique (T.STAT) ;</p>
        <p class="mb-2 ml-8">- Timbre douanier (TD) ;</p>
        <p class="mb-2 ml-8">- Redevance d'aménagement urbain (RAU) ;</p>
        <p class="mb-2 ml-8">- Taxe de voirie (TV).</p>
        <p class="mb-2">
          <b>Article 3 :</b> Les véhicules neufs à quatre roues importés, fabriqués ou vendus à l'état neufen République
          du Bénin et destinés à la mise en place d'une flotte de taxis dans lesgrandes villes de la République du Bénin
          sont exonérés de tous droits et taxes dedouane et de la taxe sur la valeur ajoutée (TVA) durant la période allant
          du 1<sup>er</sup> janvier au 31 décembre 2023.
        </p>

        <p class="mb-2">Toutefois, ils restent assujettis aux prélèvements, taxes et redevance ci -après</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire de solidarité (PCS)</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire (PC) :</p>
        <p class="mb-2 ml-8">- Prélèvement de solidarité (PS)</p>
        <p class="mb-2 ml-8">- Taxe de statistique (T.STAT) ;</p>
        <p class="mb-2 ml-8">- Timbre douanier (TD) ;</p>
        <p class="mb-2 ml-8">- Redevance d'aménagement urbain (RAU)</p>
        <p class="mb-2 ml-8">- Taxe de voirie (TV).</p>
        <p class="mb-2">
          Sont exclus du champ d'application de cet article, les véhicules de grosses cylindréeset les véhicules
          utilitaires.
        </p>
        <p class="mb-2">
          Un arrêté conjoint des ministres chargés des finances, du développement et destransports, précise les
          modalités d'application du présent article.
        </p>
        <p class="mb-2">
          <b>Article 4 :</b> Les autobus, autocars et minibus de toutes catégories, importés, fabriqués ouvendus à l'état
          neuf en République du Bénin et destinés au transport en commun sont exonérés de fous droits et taxes de douane
          et de la taxe sur la valeur ajoutée (TVA)durant la période allant du 1<sup>er</sup> janvier au 31 décembre 2023.
        </p>
        <p class="mb-2">Toutefois, ils restent assujettis aux prélèvements, taxes et redevance ci -après :</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire de solidarité (PCS) ;</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire (PC) ;</p>
        <p class="mb-2 ml-8">- Prélèvement de solidarité (PS) ;</p>
        <p class="mb-2 ml-8">- Taxe de statistique (T.STAT) ;</p>
        <p class="mb-2 ml-8">- Timbre douanier (TD) ;</p>
        <p class="mb-2 ml-8">- Redevance d'aménagement urbain (RAU) ;</p>
        <p class="mb-2 ml-8">- Taxe de voirie (TV).</p>
        <p class="mb-2">
          <b>Article 5:</b> Les aéronefs et les aérostats, ainsi que leurs pièces de rechange, sontexonérés de tous droits
          et taxes de douane et de la taxe sur la valeur ajoutée (TVA)durant la période allant du 1or janvier au 31 décembre
          2023.
        </p>

        <p class="mb-2">Toutefois, ils restent assujettis aux prélèvements, taxes et redevance ci-après :</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire de solidarité (PCS) ;</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire (PC)</p>
        <p class="mb-2 ml-8">- Prélèvement de solidarité (PS) ;</p>
        <p class="mb-2 ml-8">- Taxe de statistique (T.STAT) ;</p>
        <p class="mb-2 ml-8">- Timbre douanier (TD) ;</p>
        <p class="mb-2 ml-8">- Redevance d'aménagement urbain (RAU) ;</p>
        <p class="mb-2 ml-8">- Taxe de voirie (TV).</p>
        <p class="mb-2">
          <b>Article 6 :</b> Les récipients pour gaz comprimés ou liquéfiés, en fonte, fer ou acier et lesaccessoires (brûleurs,
          supports marmites pour les bouteilles de 3 et 6 kg, tuyaux,raccords, détendeurs, réchauds à gaz sans four et robinet
          -détendeurs) pour gazdomestique, importés, fabriqués ou vendus en République du Bénin sont exonérés detous droitset
          taxes de douane et de la taxe sur la valeur ajoutée (TVA) durant lapériode allant du 1<sup>er</sup> janvier au
          31 décembre 2023.
        </p>

        <p class="mb-2">Toutefois, ils restent assujettis aux prélèvements, taxes et redevance ci -après :</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire de solidarité (PCS) ;</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire (PC) ;</p>
        <p class="mb-2 ml-8">- Prélèvement de solidarité (PS) ;</p>
        <p class="mb-2 ml-8">- Taxe de statistique (T.STAT) ;</p>
        <p class="mb-2 ml-8">- Timbre douanier (TD) ;</p>
        <p class="mb-2 ml-8">- Redevance d'aménagement urbain (RAU) ;</p>
        <p class="mb-2 ml-8">- Taxe de voirie (TV).4.4</p>

        <p class="mb-2">
          <b>Article 7 :</b> Du 1<sup>er</sup> janvier au 31 décembre 2023 et nonobstant les dispositions de l'article 14
          de la loi n° 2014-25 du 23 décembre 2014 portant loi de finances pour lo gestion 2015 et les lois qui l'ont modifiée,
          le taux de la taxe de statistique (T.STAT) sur les produitspétroliers en régime de réexportation d'une part, le
          charbon, le manganèse et autresmatières premières en transit à destination de pays non enclavés d'autre part, est
          de 1% de la valeur en douane pour les produits non communautaires.
        </p>

        <p class="mb-2">
          <b>Article 8 :</b> Nonobstant les dispositions des articles 2, 4, 5 et 6 du code des douanes et del'article 229
          du code général des impôts, les matériels et équipements neufs importésen République du Bénin par les petites et
          moyennes entreprises ne bénéficiant pas d'unrégime fiscal dérogatoire, destinés à l'installation d'unités artisanales
          et industrielles sontexonérés, sur leur demande, de droits et taxes de douane et de la taxe sur la valeurajoutée
          (TVA).
        </p>

        <p class="mb-2">Toutefois, ils restent assujettis aux prélèvements, taxes et redevance ci -après :</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire de solidarité (PCS) ;</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire (PC) ;</p>
        <p class="mb-2 ml-8">- Prélèvement de solidarité (PS) ;</p>
        <p class="mb-2 ml-8">- Taxe de statistique (T.STAT) ;</p>
        <p class="mb-2 ml-8">- Timbre douanier (TD) ;</p>
        <p class="mb-2 ml-8">- Redevance d'aménagement urbain (RAU) ;</p>
        <p class="mb-2 ml-8">- Taxe de voirie (TV).</p>
        <p class="mb-2">
          Les modalités d'application de cette disposition sont fixées par décision du comitéinterministériel de
          promotion des investissements prévu à l'article 10 de la loi n° 2020 -02du 20 mars 2020 portant code des
          investissements en République du Bénin.
        </p>
        <p class="mb-2">
          <b>Article 9 :</b> Nonobstant les dispositions des articles 2, 4, 5 et 6 du code des douanes et del'article 229
          du code général des impôts, les voitures de tourisme et autres véhiculesautomobiles conçus pour le transport des
          personnes autres que ceux de la positiontarifaire n° 8702, y compris les voitures de type « break » double cabine,
          importées,fabriquées ou vendues à l'état neuf en République du Bénin bénéficient, durant lapériode allant du lor
          janvier au 31 décembre 2023, des avantages douaniers et fiscauxsuivants :
        </p>

        <p class="mb-2 ml-6">1) abattement sur la valeur en douane de :</p>
        <p class="mb-2 ml-8">- 99% pour les voitures électriques à l'état neuf</p>
        <p class="mb-2 ml-8">- 95% pour les voitures hybrides à l'état neuf ;</p>
        <p class="mb-2 ml-8">- 90% pour les autres voitures à l'état neuf.</p>
        <p class="mb-2 ml-6">2) exonération de la taxe sur la valeur ajoutée (TVA).</p>
        <p class="mb-2">Toutefois, ils restent assujettis aux taxes ci-après :</p>
        <p class="mb-2 ml-8">- Taxe de statistique (T.STAT) ;</p>
        <p class="mb-2 ml-8">- Timbre douanier (TD) ;ie</p>
        <p class="mb-2 ml-8">- Taxe de voirie (TV).</p>
        <p class="mb-2"><b>Article 10 :</b></p>
        <p class="mb-2">
          A compter du ler janvier 2023 et nonobstant les dispositions de l'article 12 dela loi n° 2015-41 du 29
          décembre 2015 portant loi de finances pour la gestion 2016, lefaux de la taxe de statistique (T.STAT) sur les
          machines et matériels agricoles, lesmachines et matériels destinés à l'élevage, à l'aquaculture et à la pêche
          ainsi que leursparties, accessoires et pièces détachées en régime d'exonération est de 1% de lavaleur en
          douane de ces produits.
        </p>

        <p class="mb-2">
          <b>Article 11 :</b> Nonobstant !es dispositions des articles 2, 4, 5 et 6 du code des douanes etde l'article 229
          du code général des impôts, les équipements et matériaux neufsimportés en République du Bénin ainsi que les matériaux
          locaux, destinés à laconstruction des stations-service, des stations-trottoir, des cuves à pétrole et à gasoilsont
          exonérés des droits et taxes de douane et de la taxe sur la voleur ajoutée (TVA)pour la période allant du 1erjanvier
          au 31 décembre 2023.
        </p>

        <p class="mb-2">
          De même et pour la même période, les équipements neufs importés pour la rénovationdes stations-service, des
          stations-trottoir, des cuves à pétrole et à gasoil sont en régimed'exonération des droits et taxes d'entrée et
          de la taxe sur la valeur ajoutée (TVA).
        </p>
        <p class="mb-2">
          Cette exonération s'étend à la taxe de statistique (T.STAT) instituée par la loi n° 2002 -25du 31 décembre
          2002 portant loi de finances pour la gestion 2003.
        </p>
        <p class="mb-2">Toutefois, ils restent assujettis aux prélèvements, redevances et taxe ci -après :</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire de solidarité (PCS) ;</p>
        <p class="mb-2 ml-8">- Prélèvement communautaire (PC) ;</p>
        <p class="mb-2 ml-8">- Prélèvement de solidarité (PS)</p>
        <p class="mb-2 ml-8">- Redevance d'aménagement urbain (RAU) ;</p>
        <p class="mb-2 ml-8">- Redevance statistique (RS) ;</p>
        <p class="mb-2 ml-8">- Taxe de voirie (TV).</p>
        <p class="mb-2">C- MESURES NOUVELLES</p>
        <p class="mb-2">
          <b>Article 12 :</b> Du 1<sup>er</sup> janvier au 31 décembre 2023 et nonobstant les dispositions des articles 487,
          488 et 645 du code général des impôts, les majorations, intérêts de retard, coût decommandement et frais de saisie
          ne sont pas applicables aux contribuables quiprocèdent au paiement intégral des droits dus en matière de taxe foncière
          unique.
        </p>

        <p class="mb-2">
          <b>Article 13 :</b> Les actes portant mutation à titre onéreux de biens immeubles bénéficiant dela mesure d'accomplissement
          gratis de la formalité de l'enregistrement sont désormaissoumis aux dispositions des articles 331 et 355 de la
          loi n° 2021-15 du 23 décembre 2021portant code général des impôts.
        </p>

        <p class="mb-2">
          <b>Article 14 :</b> Les dispositions de l'article 2 de la loi n° 2022-25 du 11 novembre 2022 portant loi de finances
          rectificative pour la gestion 2022 et celles du décret n° 2022-419 du 20 juillet 2022 portant fixation de nouvelles
          redevances à l'exportation du soja et du riz paddy, en soutien aux prix des intrants agricoles sont reprises et
          modifiées commesuit : la contribution à la recherche et à la promotion agricole (CRA) instituée en Républiquee
          du Bénin par la loi n° 2016-14 du 20 juillet 2016 portant loi de finances pour la gestion 2016 et les lois qui
          l'ont modifiée est désormains perçue sur les exportations des produits agricoles non transformés, suivant le tableau
          ci-dessous :
        </p>
        <!--TODO : Insérer le tableau ici  -->
        <p class="text-3xl font-bold">TABLEAU ICI</p>

        <p class="mb-2">
          La redevance de promotion du secteur agricole prévue par le décret n° 2022-064 du 02 février 2022 et les
          redevances en soutien aux prix des intrants agricoles prévues par le n° 2022-419 du 20 juillet 2022 sont
          reprises par le présent article sous la dénomination « contribution à la recherche et à la promotion agricole
          (CRA) ».
        </p>

        <p class="mb-2">
          Elle est perçue à l'exportation dans les mêmes conditions que la taxe de voirie et renversée dans un compte
          ouvert dans les livres du Trésor public.
        </p>

        <p class="mb-2">
          Sont toutefois exonérés de ladite contribution, tous les autres produits de la section 11 du règne végétal du
          tarif extérieur commun de la CEDEAO, « TEC -CEDEAO ».
        </p>

        <p class="mb-2">
          <b>Article 15 :</b> Les prélèvements institués par les articles 21 de la loi n° 2017-40 du 29 décembre 2017 portant
          loi de finances pour la gestion 2018 ; 63 et suivants de la loi n° 2006-17 du 17 octobre 2006 portant code minier
          et fiscalité minière en République du Bénin ; 1<sup>er</sup> et suivants de la loi n° 84-09 du 15 mars 1984 sur
          le contrôle des denrées alimentaires ; 26 de la loi-cadre n° 2014-19 du 07 août 2014 relative à la pêche et àl'aquaculture
          en République du Bénin ; 10 de la loi n° 2015-41 du 29 décembre 2015 portant loi de finances pour la gestion 2016
          9 de l'ordonnance n° 2010-01 du 1<sup>er</sup> janvier 2010 modifié par les articles 20 et 6 des lois de finances
          n° 2012-42 du 28 décembre 2012 et n° 2015-41 du 29 décembre 2015 et complétés par l'article 7 de la loide finances
          n°2015-41 du 29 décembre 2015 ; 46 et 57 de la loi n°97-10 du 20 août 1997 portant libéralisation de l'espace audiovisuel
          et dispositions pénales spéciales relatives aux délits en matière de presse et de communication audiovisuelle en
          République du Bénin ; 201 et suivants de la loi n° 2015-07 du 20 mars 2015 portant codede l'information et de la
          communication en République du Bénin ; 22 et 117 de la loi n°2019-06 du 15 novembre 2019 portant code pétrolier
          en République du Bénin et dénommés &#34;redevances&#34; sont reclassés dans la catégorie des taxes.
        </p>
        <p class="mb-2">
          <b>Article 16 :</b> Les dispositions de l'article 17 de la loi n° 2019 -46 du 27 décembre 2019portant loi de finances
          pour la gestion 2020 sont reprises et modifiées comme suit :
        </p>

        <p class="mb-2">
          Le référentiel des prix unitaires de location et de cession sur le domaine privé de I' Etatet des
          collectivités territoriales en République du Bénin, autres que So -Ava et Les Aguégués, se présente tel que
          mentionné dans le tableau ci -dessous :
        </p>
        <!--TODO : Insérer le tableau ici  -->
        <p class="text-3xl font-bold">TABLEAU ICI</p>

        <p class="mb-2">
          <b>Article 17:</b> Les dispositions de l'article 27 de la loi n° 2021 -16 du 23 décembre 2021portant loi de finances
          pour la gestion 2022 sont modifiées et complétées comme suit :
        </p>
        <p class="mb-2">Alinéa 1 sans changement ;</p>
        <p class="mb-2">Alinéa 2 :</p>
        <p class="mb-2">
          Il est institué au profit du port autonome de Cotonou, aux fins des « opérations de sécurisation des corridors
          », les prélèvements ci-après :
        </p>
        <p class="mb-2 ml-8">- Contribution du PAC-gestion du BESC ;</p>
        <p class="mb-2 ml-8">- Sécurisation corridors-trie ;</p>
        <p class="mb-2 ml-8">- Sécurisation corridor-prélèvement spécifique par le PAC ;</p>

        <p class="mb-2 ml-8">- Sécurisation corridor-redevance aménagement voies inter-parc ;</p>
        <p class="mb-2 ml-8">- Sécurisation corridor-redevance de sécurisation des parcs.</p>
        <p class="mb-2">
          Les tarifs de ces prélèvements sont fixés par arrêté conjoint des ministres chargés desfinances et des
          transports.
        </p>
        <p class="mb-2">
          <b>Article 18 :</b> Les dispositions de l'article 24 de la loi n° 2021 -16 du 23 décembre 2021 portant loi de finances
          pour la gestion 2022 sont reprises et modifiées comme suit :
        </p>

        <p class="mb-2">
          A compter du 1er janvier 2023, le montant de la taxe sur l'exportation de la ferraille et des sous-produits
          ferreux est fixé à 50 francs CFA par kilogramme net.
        </p>
        <p class="mb-2">
          <b>Article 19 :</b> Les dispositions du codedes douanessont modifiées et reprises ainsi qu'il suit :
        </p>

        <p class="mb-2 ml-8"><b>Article 13 bis :</b></p>
        <p class="mb-2 ml-2"><b>1.</b></p>
        <p class="mb-2 ml-8">
          <b class="mr-4">a)</b> Si la valeur en douane des marchandises importées ne peut pas êtredéterminée par application
          des dispositions de l'article 13, la valeur endouane sera la valeur transactionnelle de marchandises identiques,vendues
          pour l'exportation à destination du même pays d'importationet exportées au même moment ou à peu près au même moment
          queles marchandises à évaluer.
        </p>
        <p class="mb-2 ml-8">
          <b class="mr-4">b)</b>
          Lors de l'application du présent article, la valeur en douane seradéterminée en se référant à la valeur transactionnelle
          de marchandisesidentiques, vendues au même niveau commercial et sensiblement enmême quantité que les marchandises
          à évaluer. En l'absence de tellesventes, on se référera à la valeur transactionnelle de marchandises identiques,
          vendues à un niveau commercial différent et/ou enquantité différente, ajustée pour tenir compte des différences
          que leniveau commercial et/ou la quantité auraient pu entraîner, à la condition que de tels ajustements, qu'ils
          conduisent à une augmentation ou une diminution de la valeur, puissent se fonder sur des éléments de preuve produits
          établissant clairement qu'ils sont raisonnables et exacts.
        </p>
        <p class="mb-2 ml-2 mr-4">
          <b>2.</b>
          Lorsque les coûts et frais visés au paragraphe 2 de l'article 18 seront compris d ansla valeur transactionnelle,
          cette valeur sera ajustée pour tenir compte des différencesnotabl es qui peuvent exister entre les coûts et frais
          afférents, d'une part auxmarchandises importées, et d'autre part aux marchandises identiques considérées, parsuite
          de différences dans les distances et les modes de transport.
        </p>
        <p class="mb-2 ml-2 mr-4">
          <b>3.</b> Si, lors de l'application du présent article, plus d'une valeur transactionnelle demarchandises identiques
          est constatée, on se référera à la valeur transactionnelle laplus basse pour déterminer la valeur en douane des
          marchandises importées.
        </p>
        <p class="mb-2 ml-8"><b>Article 13 ter :</b></p>
        <p class="mb-2 ml-2"><b>1.</b></p>
        <p class="mb-2 ml-8">
          <b class="mr-4">a)</b>Si la valeur en douane des marchandises importées ne peut pas êtredéterminée par
          application des dispositions des articles 13 et 13 bis, lavaleur en douane sera la valeur transactionnelle de
          marchandisessimilaires, vendues pour l'exportation à destination du même paysd'importation et exportées au
          même moment ou à peu près au mêmemoment que les marchandises à évaluer.
        </p>
        <p class="mb-2 ml-8">
          <b class="mr-4">b)</b>
          Lors de l'application du présent article, la valeur en douane sera déterminée en se référant à la valeur transactionnelle
          de marchandises similaires, vendues au même niveau commercial et sensiblement enmême quantité que les marchandises
          à évaluer. En l'absence de tellesventes, on se référera à la valeur transactionnelle de n ou à une diminution de
          la valeur, puissent se fonder surdes éléments de preuve produits établissant clairement qu'ils sontraisonnables
          et exacts.
        </p>
        <p class="mb-2">2.</p>
        <p class="mb-2">
          Lorsque les coûts et frais visés au paragraphe 2 de l'article 18 seront compris dansla valeur
          transactionnelle, cette valeur sera ajustée pour tenir compte des différencesnotabl es qui peuvent exi ster
          entre les coûts et frai s afférents, d'une part auxmarchandises importées, et d'autre part aux marchandises
          similaires considérées, parsuite de différences dans les distances et les modes de transport.
        </p>
        <p class="mb-2">3.</p>
        <p class="mb-2">
          Si, lors de l'application du présent article, plus d'une valeur transactionnelle demarchandises similaires est
          constatée, on se référera à la valeur transactionnelle la plusbasse pour déterminer la valeur en douane des
          marchandises importées.
        </p>
        <p class="mb-2"><b>Article 14 nouveau :</b></p>
        <p class="mb-2">
          Si la valeur en douane des marchandises importées ne peutpas être déterminée par application des dispositions
          des articles 13, 13 bis et 13 ter, lavaleur en douane sera déterminée par application des dispositions de
          l'article 15 ou,lorsque la valeur en douane ne pourra pas être déterminée par application de cetarticle, par
          application des dispositions de l'article 16 toutefois, à la demande del'importateur, l'ordre d'application
          des articles 15 et 16 sera inversé.
        </p>

        <p class="mb-2"><b>Article 165 bis :</b></p>
        <p class="mb-2">
          Toutes les marchandises, et les moyens de transport, qui sontintroduites sur le territoire douanier ou
          quittant celui -ci, sont soumises au contrôle del'administration des douanes, qu'elles soient passibles ou non
          de droits et taxes.
        </p>

        <p class="mb-2">
          Les contrôles douaniers sont limités au minimum nécessaire pour assurerl'application de la législation
          douanière.
        </p>
        <p class="mb-2">Pour l'application des contrôles douaniers,l'administrationdes douanes fait appel</p>
        <p class="mb-2">
          à l'analyse des risques de fraude. La gestion des risques identifiés permet de définirl'étendue de la
          vérification, les personnes, moyens de transport et marchandises àcontrôler.
        </p>
        <p class="mb-2"><b>Article 20 :</b></p>
        <p class="mb-2">Les dispositions du code général des impôts sont modifiées et reprises ainsiqu'il suit :</p>

        <p class="mb-2"><b>Article 32 :</b></p>
        <p class="mb-2">1)sans changement.</p>
        <p class="mb-2">2)</p>
        <p class="mb-2">
          Les dons et libéralités dans les domaines de l'éducation, de la santé,de l'industrie culturelle, touristique
          et des arts ou des infrastructures collectives consentis à
        </p>
        <p class="mb-2">
          l ' É t a t , à s e s d é m e m b r e m e n t s e t a u x f é d é r a t i o n s s p o r t i v e s r e c o n n
          u e s p a r l e gouvernement, sont déductibles dans la limite de vingt -cinq millions (25 000 000) defrancs
          CFA en sus de la déduction accordée au paragraphe précédent. La preuve dela réceptiondes dons et libéralités
          par le bénéficiaire est jointe obligatoirement à ladéclaration de résultat-
        </p>

        <p class="mb-2"><b>Article 47 :</b></p>
        <p class="mb-2">1)et 2) sans changement.</p>

        <p class="mb-2">3) Dans tous les cas, l'impôt ne peut être inférieur à deux cent cinquante mille</p>
        <p class="mb-2">(250 000) francs CFA.</p>
        <p class="mb-2"><b>Article 106 :</b></p>
        <p class="mb-2">Le point 1 est complété par la phrase suivante :</p>
        <p class="mb-2">
          Ce taux est réduit à 10% lorsque le bailleur est soumis à l'impôt sur les bénéficesd'affaires ou à l'impôt sur
          Les sociétés.
        </p>
        <p class="mb-2"><b>Article 108 :</b></p>
        <p class="mb-2">Au f du point 2, les mots « et successions » sont supprimés.</p>
        <p class="mb-2"><b>Article 142 :</b></p>
        <p class="mb-2">Le point</p>
        <p class="mb-2">1est modifié comme suit :</p>
        <p class="mb-2">1) Le taux de la retenue est fixé à 20%.</p>
        <p class="mb-2"><b>Article 146 :</b></p>
        <p class="mb-2">
          Le point 2, est complété par un c) et un d) ainsi rédigés :c) pour les entreprises dont le chiffre d'affaires
          est supérieur ou égal à un milliard
        </p>
        <p class="mb-2">
          (1000 000 000) de francs CFA ;d) pour les succursales des entreprises non-résidentes au Bénin. »
        </p>
        <p class="mb-2"><b>Article 159 :</b></p>
        <p class="mb-2">Les points 1 et 2 sont repris et rédigés comme suit :</p>

        <p class="mb-2">
          1) Les taux de la taxe foncière unique sont fixés chaque année par les conseilsmunicipaux ou communaux et ne
          peuvent excéde r les limites ci-après :
        </p>
        <p class="mb-2 ml-8">- 3 à 7% pour les propriétés non bâties ;</p>
        <p class="mb-2 ml-8">- 4 à 8% pour les propriétés bâties.</p>
        <p class="mb-2">
          2) Les collectivités locales doivent faire connaître à la direction générale desimpôts au plus tard le 30
          novembre de chaque année, les décisions relatives aux tauxd'imposition applicables au 1er janvier de l'année
          suivante dans leur ressort territorial. Àdéfaut, Les impositions sont établies selon les taux de l'année
          précédente.
        </p>
        <p class="mb-2">
          Pour les collectivités territoriales n'ayant adopté aucun taux à la date d'entrée envigueur du présent code,
          les taux d'imposition à la taxe foncière unique sont fixéscomme suit :
        </p>
        <p class="mb-2">- 5% pour les propriétés non bâties ;</p>
        <p class="mb-2">- 6% pour les propriétés bâties.</p>
        <p class="mb-2"><b>Article 192 :</b></p>
        <p class="mb-2">Il est ajouté un point 9 ainsi rédigé :</p>

        <p class="mb-2">
          9) les employeurs domestiques salariés ou non pour les rémunérations versées auxemployés domestiques, tels que
          définis par les lois et règlements régissant la sécuritésociale en République du Bénin. Le bénéfice de
          l'exonération est subordonné à ladéclaration et au paiement des cotisations à la caisse nationale de sécurité
          sociale.
        </p>
        <p class="mb-2"><b>Article 218 :</b></p>
        <p class="mb-2">Les entreprises dont le chiffre d'affaires est supérieur ou égal à un milliard</p>
        <p class="mb-2">
          (1 000 000 000) de francs CFA sont soumises à une taxe annuelle dénommée taxe de développement du sport.
        </p>
        <p class="mb-2">Le produit de cette taxe est reversé à un fonds dédié au développement d u</p>
        <p class="mb-2">
          sport. Les modalités de gestion de ces ressources sont fixées par arrêté conjoint des ministres chargés des
          sports et des finances.
        </p>
        <p class="mb-2"><b>Article 219 :</b></p>
        <p class="mb-2">
          Le point 1 est modifié comme suit : S ont exonérées du pai ement de l a taxe, les entrepri ses, propri étai
          res ou
        </p>
        <p class="mb-2">
          copropriétaires d'un club professionnel de sport engagé dans un championnat national , au profi t duquel ell
          es réali sent des dépenses de foncti onnement ou d'investissement.
        </p>
        <p class="mb-2">Les points 2 et 3 sont abrogés.</p>
        <p class="mb-2"><b>Article 229 :</b></p>
        <p class="mb-2">Sont exonérés de la taxe sur la valeur ajoutée :</p>
        <p class="mb-2">10) a b r o g é .</p>
        <p class="mb-2">
          12) Les opérations des banques et assurances soumises à la taxe sur les activitésfinancières et assurances et
          les jeux de hasard qui sont soumis à la taxe sur les jeux dehasard.
        </p>
        <p class="mb-2">Le reste sans changement.</p>
        <p class="mb-2"><b>Article 272 :</b></p>
        <p class="mb-2">1) Les jeux de hasard sont soumis à une taxe dénommée taxe sur les jeux dehasard.</p>
        <p class="mb-2">
          La taxe est assise sur le prix de vente des tickets ou billets des divers jeux mis à ladisposition du public.
          Le taux de la taxe est de 10%.
        </p>
        <p class="mb-2">2) Toutefois, pour les jeux en ligne, la taxe est assise sur le produit net des divers</p>
        <p class="mb-2">
          jeux mis à la disposition du public. Ce produit net s'entend de la différence entre le chiffre d'affaires brut
          réalisé ou le montant des sommes misées par les parieurs et les gains et les bonus payés aux clients. Le taux
          de la taxe est de 25%.
        </p>
        <p class="mb-2">3) La taxe est collectée et reversée par l'entreprise qui organise les jeux.</p>
        <p class="mb-2">
          4) Les modalités de déclaration, de contrôle et de recouvrement, ainsi que lesobligations et sanctions sont
          celles prévues en matière de taxe sur la valeur ajoutée (TVA).
        </p>
        <p class="mb-2"><b>Article 300 :</b></p>
        <p class="mb-2">Au</p>

        <p class="mb-2">
          êrne tiret, les mots « 1 000 à 4 000 francs CFA par grume transportée » sontremplacés par « 500 à 700 francs
          CFA par mètre cube (m
        </p>

        <p class="mb-2">) de grume transportée</p>

        <p class="mb-2">Au 1</p>
        <p class="mb-2">7c</p>
        <p class="mb-2">D</p>
        <p class="mb-2">
          &#34;'tiret, les mots « 2 000 à 5 000 francs CFA par camion de produits minierstransportés n sont remplacés
          par « 200 à 500 francs CFA par mètre cube (m
        </p>

        <p class="mb-2">
          ) de gravier,sable, latérite et assimilés transportés et 2000 à 5000 francs CFA par camion de granite
          transporté n.
        </p>
        <p class="mb-2"><b>Article 354 :</b></p>
        <p class="mb-2">
          1) Les engagements directs ainsi que tous les engagements par signature sontenregistrés gratis.
        </p>
        <p class="mb-2">2) Sont exemptés de la formalité d'enregistremen t :</p>
        <p class="mb-2">
          − les contrats de prêt signés dans le cadre des activités de micro crédit dont lemontant est inférieur à deux
          millions (2 000 000) de francs CFA ;
        </p>
        <p class="mb-2 ml-8">- les contrats de prestation des missions d'enseignement dans les universitéspubliques.</p>
        <p class="mb-2"><b>Article 401 :</b></p>
        <p class="mb-2">
          Dans tous les cas où la loi prévoit la dispense des droits de timbre, cetteexemption comporte également
          dispense de la formalité de l'enregistrement, sauf en
        </p>
        <p class="mb-2">
          c e q u i c o n c e r n e l e s a d j u d i c a t i on s a u r a b a i s e t m a r c h é s p o ur c o n s t r
          u c t i o n s , réparations, entretien, approvisionnement et fournitures dont le prix doit être payé
          parl'Etat, les départements et les communes.
        </p>
        <p class="mb-2"><b>Article 402 :</b></p>
        <p class="mb-2">Il est complété par un point 23 et un point 24 ainsi rédigés : Sont exonérés dutimbre :</p>
        <p class="mb-2">
          23) les contrats de prêt signés dans le cadre des activités de micro-crédit dont lemontant est inférieur à
          deux millions (2 000 000) de francs CFA ;
        </p>
        <p class="mb-2">
          24) les adjudications au rabais et marchés pour constructions, réparations,entretien, approvisionnement et
          fournitures dont le prix doit être payé par l'Etat, lesdépartements et les communes.
        </p>
        <p class="mb-2"><b>Article 462 :</b></p>
        <p class="mb-2">Ilest ajouté un point 3 ainsi rédigé :</p>

        <p class="mb-2">
          3) Il est fait obligation à toutes personnes physiques ou morales qui réalisent desopérations d'importation,
          de transit ou d'exportation de biens et de marchandises sousforme de &#34;groupage&#34; pour le compte
          d'autrui, de détenir et de communiquer auxagents de l'administration des douanes, la liste nominative,
          adresses et numérod'identification fiscale des importateurs et expéditeurs effectifs de ces biens,
          leursquantités et leurs valeurs, sous peine des sanctions prévues à l'article 495 paragraphe 3du présent code.
        </p>
        <p class="mb-2">
          Ces informations sont communiquées par la direction générale des douanes àl'administration fiscale.
        </p>

        <p class="mb-2">II-</p>
        <p class="mb-2"><i>RESSOURCES AFFECTEES ET RESSOURCES RECOUVREES AU PROFIT D'AUTRES</i></p>
        <p class="mb-2"><i>ORGANISMES PUBLICS</i></p>

        <p class="mb-2"><i>A- DISPOSITIONS RELATIVES AUX COLLECTIVITES LOCALES ET AUX</i></p>
        <p class="mb-2"><i>ETABLISSEMENTS PUBLICS</i></p>
        <p class="mb-2"><b>Article 21 :</b></p>
        <p class="mb-2">Les recettes recouvrées au profit des collectivités locales pour la gestion</p>
        <p class="mb-2">2023 sont évaluées à 7 107,6 millions de francs CFA et se répartissent comme suit :</p>

        <p class="mb-2">Libellé des droits et taxes</p>
        <p class="mb-2">Montant</p>
        <p class="mb-2">(en millions de FCFA)</p>

        <p class="mb-2">- Taxe de voirie ...........................................................................</p>
        <p class="mb-2">5 590,9</p>
        <p class="mb-2">- TVA à l'importation ...................................................................</p>
        <p class="mb-2">1 516,7</p>
        <p class="mb-2">Total</p>

        <p class="mb-2">107,6</p>

        <p class="mb-2"><b>Article 22 :</b></p>
        <p class="mb-2">
          Les recettes recouvrées au profit du port autonome de Cotonou pour lagestion 2023 sont évaluées à 13 417
          millions de francs CFA.
        </p>

        <p class="mb-2"><b>Article 23 :</b></p>
        <p class="mb-2">
          Les recettes recouvrées au profit du fonds de développement pétrolier pourla gestion 2023 sont évaluées à 12
          469 millions de francs CFA.
        </p>

        <p class="mb-2"><i>8- DISPOSITIONS RELATIVES AU BUDGET ANNEXE ET AUX COMPTES</i></p>
        <p class="mb-2"><i>SPECIAUX DU TRESOR</i></p>
        <p class="mb-2"><b>Article 24 :</b></p>
        <p class="mb-2">
          Sous réserve des dispositions de la présente loi, le budget annexe et lescomptes spéciaux ouverts à la date du
          dépôt de la présente loi sont confirmés pourl'année 2023,
        </p>

        <p class="mb-2">
          Sont également confirmées pour l'année 2023, sous réserve des dispositions de laprésente loi, les affectations
          constatées à leur profit.
        </p>
        <p class="mb-2">
          Article 25 :11est créé pour compter de la gestion 2023 le compte d'affectation « Fondsde Développement des
          Arts et de la Culture » pour retracer les ressources mises à ladisposition de l'économie culturelle.
        </p>

        <p class="mb-2"><b>Article 26 :</b></p>
        <p class="mb-2">
          Pour la gestion 2023, les comptes spéciaux ci -dessous reçoivent lesaffectations de ressources ainsi qu'il
          suit :a) le compte « modernisation des régies financières » est alimenté par 16,83%des ressources issues des
          taxes sur les produits et occises ;b) le compte « prévention et gestion des catastrophes » est alimenté par
          10%des redevances GSM ;-
        </p>

        <p class="mb-2">
          16c) le compte « opérations militaires àl'extérieur»est alimenté par les ressourcesprovenant du système des
          Nations-Unies, dans le cadre des opérations de maintien dela paixd) le compte « partenariat mondial pour
          l'éducation » est alimenté au titre del'année 2023 par les dons de la Banque mondiale (IDA).e) le compte «
          fonds de développement des arts et de la culture » est alimentépar 9,28% de l'impôt sur le patrimoine net des
          personnes physiques.
        </p>
        <p class="mb-2">
          Les modalités pratiques de perception et d'utilisation de ces ressources sontfixées par arrêté conjoint du
          ministre chargé des finances et des ministres sectorielsconcernés.
        </p>
        <p class="mb-2"><b>Article 27 :</b></p>
        <p class="mb-2">
          Il est autorisé pour la gestion 2023, l'imputation par dérogation sur lescomptes d'affectation spéciale, des
          dépenses résultant du paiement des traitementsou des indemnités à des agents de l'État ou d'autres organismes
          publics.
        </p>

        <p class="mb-2">C-</p>
        <p class="mb-2"><i>AUTRES DISPOSITIONS</i></p>

        <p class="mb-2"><b>Article 28 :</b></p>
        <p class="mb-2">Les recettes à recouvrer au titre de la participation de la République du</p>
        <p class="mb-2">
          Bénin aux budgets de l'Union économique et monétaire ouest africaine (UEMOA),dela Communauté économique des
          États de l'Afrique de l'ouest (CEDEAO) et de la
        </p>
        <p class="mb-2">
          Commission de l'Union africaine (UA) sont évaluées pour la gestion 2023 à 27 035,7millions de francs CFA, se
          décomposant comme suit :
        </p>

        <p class="mb-2">I</p>
        <p class="mb-2">Libellé des droits et taxes</p>
        <p class="mb-2">(en millions</p>
        <p class="mb-2">Montantde FCFA)</p>
        <p class="mb-2">252,3</p>
        <p class="mb-2">Prélèvement communautaire (PC)</p>

        <p class="mb-2">Prélèvement communautaire de solidarité (PCS)</p>

        <p class="mb-2">7 0 3 , 4</p>

        <p class="mb-2">Prélèvement de solidarité (PS)</p>

        <p class="mb-2">,</p>

        <p class="mb-2">Total</p>
        <p class="mb-2">27 035,7</p>

        <p class="mb-2">TITRE Il</p>
        <p class="mb-2">DISPOSITIONS RELATIVES A L'EQUILIBRE DES RESSOURCES ET DES CHARGES</p>
        <p class="mb-2"><b>Article 29 :</b></p>
        <p class="mb-2">Les ressources de la loi de finances pour la gestion 2023 sont évaluées à</p>
        <p class="mb-2">3 033 337 millions de francs CFA et comprennent :</p>

        <p class="mb-2">A-</p>
        <p class="mb-2">Les recettes du budget général</p>
        <p class="mb-2">(non compris les ressources affectées).</p>

        <p class="mb-2">évaluées à 1 758 950 millions de francs CFA et décomposées comme suit :</p>

        <p class="mb-2"><b>Montant</b></p>
        <p class="mb-2">(en millions de FCFA)</p>

        <p class="mb-2"><b>Libellés</b></p>
        <p class="mb-2">Emission des dettes à moyen et long termes</p>
        <p class="mb-2">426 192</p>
        <p class="mb-2">Obligations et bons du trésor</p>
        <p class="mb-2">617 548</p>
        <p class="mb-2">149 597</p>
        <p class="mb-2">Autres ressources de trésorerie</p>

        <p class="mb-2">Libellés</p>
        <p class="mb-2">Montant</p>
        <p class="mb-2">(en millions de FCFA)</p>
        <p class="mb-2">Impôts</p>
        <p class="mb-2">868 900</p>
        <p class="mb-2">Douanes</p>
        <p class="mb-2">603 452</p>
        <p class="mb-2">Trésor</p>
        <p class="mb-2">156 148</p>
        <p class="mb-2">Dons budgétaires</p>
        <p class="mb-2">46 600</p>
        <p class="mb-2">Fonds de concours et dons projets</p>
        <p class="mb-2">78 850</p>
        <p class="mb-2">Agence nationale du domaine et du foncier</p>
        <p class="mb-2">5 000</p>

        <p class="mb-2"><b>B-</b></p>

        <p class="mb-2">
          <b>Les recettes du fonds national des retraites du Bénin</b>sont évaluées à 58 000millions de francs CFA.
        </p>

        <p class="mb-2"><b>C-</b></p>

        <p class="mb-2"><b>Les recettes des comptes d'affectation spéciale</b></p>
        <p class="mb-2">évaluées à 23 050 millions defrancs CFA et décomposées comme suit :</p>

        <p class="mb-2">Libellés</p>
        <p class="mb-2">Mentant</p>
        <p class="mb-2">(en millions de (&#34;CFA)</p>
        <p class="mb-2">Compte « opérations militaires à l'extérieur »</p>
        <p class="mb-2">_ 000</p>
        <p class="mb-2">Compte « modernisation des régies financières »</p>
        <p class="mb-2">6 000</p>
        <p class="mb-2">Compte « prévention et gestion des catastrophes »</p>
        <p class="mb-2">5 000</p>
        <p class="mb-2">Compte « partenariat mondial pour l'éducation »</p>
        <p class="mb-2">2 850</p>
        <p class="mb-2">Corriple « fonds de développer .....rienl• des arts et de laculture ))</p>
        <p class="mb-2">1 200</p>

        <p class="mb-2"><b>D-</b></p>

        <p class="mb-2">
          <b>Les ressources de trésorerie</b>sont évaluées à 1 193 337 millions de francs CFA, sedécomposant comme suit
          :
        </p>

        <p class="mb-2"><b>Article</b></p>
        <p class="mb-2"><b>30 :</b></p>
        <p class="mb-2">
          Sous réserve des dispositions de la présente loi, les dispositions législatives etréglementaires relatives aux
          charges de l'Etat demeurent en vigueur.
        </p>

        <p class="mb-2"><b>Article 31 :</b></p>
        <p class="mb-2">
          Le montant des crédits de paiement ouverts au budget de l'Etat pour lagestion 2023 est fixé à 2 346 400
          millions de francs CFA se décomposant comme suit :
        </p>

        <p class="mb-2"><b>Libellés</b></p>
        <p class="mb-2"><b>Montant</b></p>
        <p class="mb-2">(en millions de FCFA)</p>

        <p class="mb-2">Dépenses ordinaires</p>
        <p class="mb-2">1 258 200</p>
        <p class="mb-2">Dépenses en capital</p>

        <p class="mb-2">959 750</p>
        <p class="mb-2">Dépenses du FNRB</p>

        <p class="mb-2">105 400</p>
        <p class="mb-2">Dépenses des comptes d'affectation spéciale</p>

        <p class="mb-2">23 050</p>

        <p class="mb-2"><b>Montant</b></p>
        <p class="mb-2">(en millions de FCFA)</p>

        <p class="mb-2">Libellés</p>
        <p class="mb-2">Crédits de paiement ouverts au budget de l'Etat</p>
        <p class="mb-2">2 346 400</p>
        <p class="mb-2">Charges de trésorerie</p>
        <p class="mb-2">686 937</p>
        <p class="mb-2"><b>Article 32 :</b></p>
        <p class="mb-2">Les charges de la loi de finances pour la gestion 2023 sont évaluées à</p>
        <p class="mb-2">3 033 337 millions de francs CFA, se décomposant comme ci-après :</p>

        <p class="mb-2"><b>Article 34 :</b></p>
        <p class="mb-2">
          Le budget de l'Eta t pour la gestion 2023 dégage un solde budgétaire globalnégatif de 506 400 millions de
          francs CFA déterminé ainsi qu'il suit :
        </p>

        <p class="mb-2">TABLEAU D'EQUILIBRE GENERAL DE LA LOI DE FINANCES GESTION 2023</p>
        <p class="mb-2">(En millions de F CFA) J</p>

        <p class="mb-2">TA3LEAU</p>
        <p class="mb-2">De LA Lo D=FlNANC.i.&#34;S GE...STIZ:m 2023</p>

        <p class="mb-2"><b>OPERATIONS BLIDGETAIRES</b></p>
        <p class="mb-2"><b>RESSOURCES</b></p>

        <p class="mb-2"><b>CHARGES</b></p>

        <p class="mb-2"><b>SOLDES</b></p>
        <p class="mb-2">1 541 248</p>
        <p class="mb-2">1 840</p>

        <p class="mb-2">2 273 093 2 34,S 400</p>

        <p class="mb-2">-.;33 31:</p>
        <p class="mb-2">•</p>

        <p class="mb-2">-</p>
        <p class="mb-2">5:..'</p>
        <p class="mb-2">-ICC</p>

        <p class="mb-2">P113</p>

        <p class="mb-2">10 873 000 1 I 670</p>
        <p class="mb-2"><i>000</i></p>

        <p class="mb-2"><i>Déficit</i></p>

        <p class="mb-2"><i>-</i></p>
        <p class="mb-2"><i>5,9%</i></p>
        <p class="mb-2"><i> </i></p>
        <p class="mb-2"><i>-</i></p>
        <p class="mb-2"><i>4,3%</i></p>
        <p class="mb-2"><i> </i></p>

        <p class="mb-2">LFR 2022</p>
        <p class="mb-2">PLF 2023</p>

        <p class="mb-2">LFR 2022</p>
        <p class="mb-2">PLF 2023</p>
        <p class="mb-2">LFR 2022r',.: 2023i -</p>
        <p class="mb-2"><b>3udget générai</b></p>

        <p class="mb-2"><b>A- Recettes totales du budget général</b></p>
        <p class="mb-2"><b>1 568 898</b></p>
        <p class="mb-2"><b>1 758 950</b>ci- Recettes des régies, CAA, A NDF (non compris recettes</p>
        <p class="mb-2"><b>affectée</b></p>

        <p class="mb-2">1 397 000</p>
        <p class="mb-2">1 553 600b- Recettes d'ordre (renoncement à des droits/luttecontre cherté)</p>
        <p class="mb-2">57 748</p>
        <p class="mb-2">60 000c- Exonérations classiques</p>
        <p class="mb-2">25 000</p>
        <p class="mb-2">19 900d- Dons budgétaires</p>
        <p class="mb-2">37 400</p>
        <p class="mb-2">46 600e- Fonds de concours et recettes assimilées (FdC et donsprojets]</p>
        <p class="mb-2">51 75</p>
        <p class="mb-2">-</p>

        <p class="mb-2">78 850</p>

        <p class="mb-2">3-</p>
        <p class="mb-2"><b>Dépenses du budget général</b></p>

        <p class="mb-2"><b>2 159 043 2 217</b></p>
        <p class="mb-2"><b>950</b></p>

        <p class="mb-2"><b>a- Dépenses ordinaires</b></p>

        <p class="mb-2"><b>1 244 137</b></p>
        <p class="mb-2"><b>1 258 200</b></p>
        <p class="mb-2">1- Dépenses de personnel</p>

        <p class="mb-2">436 750</p>
        <p class="mb-2">523 229</p>

        <p class="mb-2">2- Charges financières de la dette</p>

        <p class="mb-2">209 439</p>
        <p class="mb-2">177 200</p>

        <p class="mb-2">3- Dépenses d'acquisitions de biens</p>
        <p class="mb-2"><b>et services</b></p>

        <p class="mb-2"><b>!93</b></p>

        <p class="mb-2">188 600</p>

        <p class="mb-2">4- Dépenses de transfert courant</p>

        <p class="mb-2">404 648</p>
        <p class="mb-2">369 171</p>

        <p class="mb-2">&#34; Dépenses de tranfertifrlors</p>
        <p class="mb-2"><i>exonération)</i></p>

        <p class="mb-2">321 900</p>
        <p class="mb-2">289 271i</p>
        <p class="mb-2">•</p>
        <p class="mb-2"><i> Exonérations classiques (LFR</i></p>

        <p class="mb-2"><i> </i></p>

        <p class="mb-2"><i>000</i></p>

        <p class="mb-2"><b>19</b><i>900</i><b> </b></p>

        <p class="mb-2"><i>* Dépenses fiscales</i></p>
        <p class="mb-2">(cherté de</p>
        <p class="mb-2"><i>la vie et</i>autres)</p>
        <p class="mb-2"><i> </i></p>

        <p class="mb-2"><i>57 748</i></p>
        <p class="mb-2">60 0001</p>

        <p class="mb-2">•</p>
        <p class="mb-2"><i> </i>dépenses fiscales dassisaues</p>
        <p class="mb-2"><i>complémentaires</i></p>

        <p class="mb-2"><i>15 000</i></p>

        <p class="mb-2"><b>b-</b></p>
        <p class="mb-2"><b>Dépenses en capital</b></p>

        <p class="mb-2"><b>914 906</b></p>
        <p class="mb-2"><b>959 750</b></p>

        <p class="mb-2">1-Sur financement intérieur</p>

        <p class="mb-2">611 722</p>
        <p class="mb-2">639 150</p>

        <p class="mb-2"><i>Contributions budgétaires</i></p>

        <p class="mb-2">534 429</p>
        <p class="mb-2">572 800</p>

        <p class="mb-2">* Emprunt</p>
        <p class="mb-2"><i>Intérieur</i></p>

        <p class="mb-2"><i>77</i></p>

        <p class="mb-2"><i> </i></p>
        <p class="mb-2"><i>66 350</i></p>

        <p class="mb-2">2- Sur financement extérieur</p>

        <p class="mb-2">303 184</p>
        <p class="mb-2">320 600</p>

        <p class="mb-2"><i>* Prêts projets</i></p>

        <p class="mb-2"><i>251 434</i></p>
        <p class="mb-2"><i>241 750</i></p>

        <p class="mb-2"><i>' Dons projets</i></p>

        <p class="mb-2"><i>51 750</i></p>

        <p class="mb-2"><i>850</i></p>

        <p class="mb-2"><b>Solde du budget général (A)-(8)</b></p>

        <p class="mb-2"><b>-590 145</b></p>
        <p class="mb-2"><b>-459 000</b></p>
        <p class="mb-2"><b>Il- Budget annexe (Fonds national des retraites du Bénin)</b></p>

        <p class="mb-2"><i><b>55</b></i></p>
        <p class="mb-2"><b>500</b></p>
        <p class="mb-2"><i><b> </b></i></p>
        <p class="mb-2"><i><b>58</b></i></p>
        <p class="mb-2"><b>000</b></p>
        <p class="mb-2"><i><b> </b></i></p>

        <p class="mb-2"><b>102 200</b></p>
        <p class="mb-2"><b>105 400</b></p>

        <p class="mb-2">Fonds National des Retraites du Bénin</p>
        <p class="mb-2">55 500</p>
        <p class="mb-2"><i>58</i></p>

        <p class="mb-2"><i> </i></p>
        <p class="mb-2"><b>102</b></p>

        <p class="mb-2">105 400</p>

        <p class="mb-2"><b>-46 700</b></p>
        <p class="mb-2"><b>-47 400</b></p>
        <p class="mb-2"><b>Solde budget annexe</b></p>

        <p class="mb-2"><b>IN - Comptes d'affectation spéciale</b></p>

        <p class="mb-2"><b>16 850</b></p>
        <p class="mb-2"><b>23 050</b></p>

        <p class="mb-2"><b>16 850</b></p>
        <p class="mb-2"><b>23 050</b>a</p>
        <p class="mb-2">-</p>
        <p class="mb-2">Opérations Militaires à extérieur</p>
        <p class="mb-2">8 000</p>
        <p class="mb-2">8 000</p>

        <p class="mb-2">8 000b- Partenariat Mondial pour l'Eclucation</p>
        <p class="mb-2">2 850</p>
        <p class="mb-2">2 850</p>

        <p class="mb-2">2 850</p>
        <p class="mb-2">2 850c- Modernisation des Régies Financières</p>
        <p class="mb-2">3 000</p>
        <p class="mb-2">6 000</p>

        <p class="mb-2">3 000</p>
        <p class="mb-2">6 000d- Prévention et Gestion des Catastrophes</p>
        <p class="mb-2">3 000</p>
        <p class="mb-2">5 000</p>

        <p class="mb-2">3 000</p>
        <p class="mb-2">5 000e- Fonds de Développement des Arts et de la Culture</p>

        <p class="mb-2">1.200</p>

        <p class="mb-2">1 200</p>

        <p class="mb-2"><b>Solde pour Comptes d'affectation spéciale</b></p>

        <p class="mb-2"><b>0</b></p>
        <p class="mb-2"><b>0</b></p>

        <p class="mb-2"><b>Solde budgétaire global</b></p>

        <p class="mb-2">.636 343</p>
        <p class="mb-2">-50,i 4CC</p>
        <p class="mb-2"><b>Article 35</b></p>
        <p class="mb-2">
          Les ressources et les charges de trésorerie qui concourent à la réalisation del'équilibre financier sont
          évaluées comme suit
        </p>

        <p class="mb-2">(En millions de F CFA)</p>
        <p class="mb-2">OPERATIONS DE TRESORERlE</p>
        <p class="mb-2">RESSOURCES</p>
        <p class="mb-2">,</p>
        <p class="mb-2">CHARGES</p>
        <p class="mb-2">SOLDES</p>

        <p class="mb-2">LFR 2022</p>
        <p class="mb-2">PIF 2023</p>
        <p class="mb-2">LFR 2022 PIF 2023 '</p>
        <p class="mb-2">1FR 2022 PU 2023</p>
        <p class="mb-2">Besoin de financement (A)+(3)</p>

        <p class="mb-2">1 315 413 1 193 337</p>

        <p class="mb-2">A• Charges de trésorerie</p>

        <p class="mb-2">678 568</p>
        <p class="mb-2">100 664</p>
        <p class="mb-2">686 937</p>
        <p class="mb-2">136 245</p>

        <p class="mb-2">_ _ i</p>
        <p class="mb-2">Amortissement Emprunts extérieurs (Prêts)</p>
        <p class="mb-2">' .A7</p>
        <p class="mb-2">-</p>
        <p class="mb-2">Cri3E'.''''efll' E-7</p>
        <p class="mb-2">.</p>
        <p class="mb-2">.r..</p>
        <p class="mb-2">, t cs.craL es lr ter'</p>
        <p class="mb-2">.</p>
        <p class="mb-2">.c7i</p>
        <p class="mb-2">-</p>
        <p class="mb-2">..:'0'es</p>
        <p class="mb-2">17 528</p>

        <p class="mb-2">56 134</p>

        <p class="mb-2">' Ap</p>
        <p class="mb-2">-crilem.e'l'</p>
        <p class="mb-2">EIC.r.&#34;ollc7&amp;</p>
        <p class="mb-2">-</p>
        <p class="mb-2">G1</p>
        <p class="mb-2">[3 443 2 3 8 0</p>
        <p class="mb-2">- 7</p>

        <p class="mb-2">' ' ATcr:lse.fr', Enicu7riLlrbr;f:r.1</p>
        <p class="mb-2">-</p>

        <p class="mb-2">1 6?3</p>
        <p class="mb-2">56 304</p>

        <p class="mb-2">'Amortissement Emprunts inférieursl</p>
        <p class="mb-2">556 559</p>
        <p class="mb-2">529 992</p>

        <p class="mb-2">* Pr</p>
        <p class="mb-2">.</p>
        <p class="mb-2">:4</p>
        <p class="mb-2">,</p>
        <p class="mb-2">. oc^cL.es</p>
        <p class="mb-2">CCOes</p>

        <p class="mb-2">53 553</p>

        <p class="mb-2">•</p>
        <p class="mb-2">' uc..cc</p>
        <p class="mb-2">..crs</p>
        <p class="mb-2">.</p>
        <p class="mb-2">.</p>
        <p class="mb-2">-</p>
        <p class="mb-2">.i.</p>
        <p class="mb-2">,</p>
        <p class="mb-2">.;</p>
        <p class="mb-2">-r',ECI&#34;</p>
        <p class="mb-2">!</p>
        <p class="mb-2">487 752</p>
        <p class="mb-2">433 606</p>

        <p class="mb-2">3 c ' s J I , T r s ; . u</p>
        <p class="mb-2">.</p>

        <p class="mb-2">I</p>
        <p class="mb-2">C</p>
        <p class="mb-2">31 8C0ir</p>
        <p class="mb-2">.7'..7OE.S .:</p>

        <p class="mb-2">..:t</p>
        <p class="mb-2">CCer&#34;er&#34;,</p>

        <p class="mb-2">.,-,..1</p>

        <p class="mb-2">Autres charges de trésorerie</p>

        <p class="mb-2">21 345</p>
        <p class="mb-2">20 700</p>

        <p class="mb-2">`ries :;.;r:,m1i</p>

        <p class="mb-2">5 7CC</p>
        <p class="mb-2">8 700</p>

        <p class="mb-2">' f3 n:.,Tces</p>

        <p class="mb-2">15 645</p>
        <p class="mb-2">12 000 .</p>

        <p class="mb-2">8. Solde budgétaire global</p>

        <p class="mb-2">636 845 506 400</p>

        <p class="mb-2">Ressources de ii</p>
        <p class="mb-2">.iancement</p>
        <p class="mb-2">1 315 413</p>
        <p class="mb-2">1 193 337'</p>

        <p class="mb-2">A. Ressources extérieures</p>
        <p class="mb-2">347 531</p>
        <p class="mb-2">342 450</p>

        <p class="mb-2">'Prêts Projets</p>
        <p class="mb-2">251 434</p>
        <p class="mb-2">241 750</p>
        <p class="mb-2">■</p>

        <p class="mb-2">Frts oL</p>
        <p class="mb-2">-ro...ei</p>
        <p class="mb-2">.i</p>
        <p class="mb-2">--e^,:r</p>
        <p class="mb-2">.c,-de5.</p>
        <p class="mb-2">88 23</p>

        <p class="mb-2">89 770</p>

        <p class="mb-2">' ?ràs ok:-.',f'..n</p>
        <p class="mb-2">51 357</p>
        <p class="mb-2">33 010 Fi</p>
        <p class="mb-2">' ?rà'f!. ,ruf;.</p>
        <p class="mb-2">-</p>
        <p class="mb-2">4.7r</p>
        <p class="mb-2">-</p>
        <p class="mb-2">Ju</p>
        <p class="mb-2">111 3</p>
        <p class="mb-2">,</p>

        <p class="mb-2">118 969 ,</p>

        <p class="mb-2">Obligations Internationales (Eurobond)</p>
        <p class="mb-2">Oill</p>

        <p class="mb-2">Financement ON</p>

        <p class="mb-2">:Prêts Programmes</p>
        <p class="mb-2">96 097</p>
        <p class="mb-2">100 700 ,</p>

        <p class="mb-2">8. Ressources intérieures</p>
        <p class="mb-2">781 528:</p>
        <p class="mb-2">701 290 ,</p>

        <p class="mb-2">,</p>

        <p class="mb-2">' Pré:</p>
        <p class="mb-2">-</p>
        <p class="mb-2">Î ocrq,,.e,'c.</p>
        <p class="mb-2">-</p>
        <p class="mb-2">..zes</p>

        <p class="mb-2">7 2931</p>
        <p class="mb-2">83 742 I</p>

        <p class="mb-2">' Ce,::p</p>
        <p class="mb-2">.cr s sl, T</p>

        <p class="mb-2">564 258</p>
        <p class="mb-2">3' 300</p>

        <p class="mb-2">53 290</p>

        <p class="mb-2">' 3crs :.,._</p>
        <p class="mb-2"><i>&#34;r4;,:il</i></p>

        <p class="mb-2">C-</p>
        <p class="mb-2">Autresressources de Trésorerie</p>
        <p class="mb-2">186 354</p>
        <p class="mb-2">149 597</p>

        <p class="mb-2">,</p>
        <p class="mb-2">1r</p>
        <p class="mb-2">-</p>
        <p class="mb-2">_,'</p>
        <p class="mb-2">,</p>
        <p class="mb-2">7 essur</p>
        <p class="mb-2">:«ml</p>
        <p class="mb-2">177 700</p>
        <p class="mb-2">124 600</p>

        <p class="mb-2">'</p>

        <p class="mb-2">' Rerfccur.i-e're's Fr .i.15</p>
        <p class="mb-2">, e,i</p>
        <p class="mb-2">. à/</p>
        <p class="mb-2">,-</p>
        <p class="mb-2">;..^Ca5</p>

        <p class="mb-2">2 3</p>
        <p class="mb-2">,r</p>
        <p class="mb-2">19 585</p>

        <p class="mb-2">' :3éc</p>
        <p class="mb-2">...nsicrecn, à res.</p>
        <p class="mb-2">,</p>
        <p class="mb-2">:curces</p>

        <p class="mb-2">' ;'</p>
        <p class="mb-2">.r.-I': rerrcoés</p>
        <p class="mb-2">5 3' 3</p>
        <p class="mb-2">5 412</p>

        <p class="mb-2">TOTAL GLOBAL</p>
        <p class="mb-2">2 956 661</p>
        <p class="mb-2">3 033 337</p>
        <p class="mb-2">2 956 661 3 033 337</p>

        <p class="mb-2">2,67,</p>
        <p class="mb-2"><b>Article 36 :</b></p>
        <p class="mb-2">
          Le ministre chargé des finances est autorisé à procéder, en 2023, dans lesconditions fixées par décret, à des
          emprunts à court, moyen et long termes libellés enfrancs CFA et/ou en toute autre devise. Tout ou une partie
          des obligations du trésorpourrait être substitué par des obligations émises sur les marchés internationaux.
        </p>

        <p class="mb-2"><b>Article 37</b></p>
        <p class="mb-2">Il est prévu, au titre de la gestion 2023, des recrutements surconcours, appels</p>
        <p class="mb-2">
          à candidature, tests et entretiens, d'agents pour le compte des ministères,institutions del'Etat,
          collectivités locales et autres organismes publics.
        </p>

        <p class="mb-2"><b>Article 38</b></p>
        <p class="mb-2">En application des dispositions de l'article précédent, leplafond</p>

        <p class="mb-2">
          d'autorisation des emplois rémunérés dans les ministères et institutions par l'État, exprimé en équivalent
          temps plein (ETP), est fixé pour la gestion 2023 à 105 750.
        </p>
        <p class="mb-2"><b>DEUXIEME PARTIE</b></p>
        <p class="mb-2"><b>MOYENS DES POLITIQUES PUBLIQUES - DISPOSITIONS SPECIALES ET FINALES</b></p>
        <p class="mb-2"><b>TITRE I</b></p>
        <p class="mb-2"><b>MOYENS DES POLITIQUES PUBLIQUES</b></p>
        <p class="mb-2"><b>I- CREDITS BUDGETAIRES POUR LA GESTION 2023</b></p>
        <p class="mb-2"><b>A-</b></p>
        <p class="mb-2"><i>DISPOSITIONS</i></p>
        <p class="mb-2"><b>RELATIVES AL)</b></p>
        <p class="mb-2"><i>BUDGET</i></p>
        <p class="mb-2"><b>GENERAL</b></p>

        <p class="mb-2"><b>Article 39</b></p>
        <p class="mb-2">
          11est ouvert au budget général pour la gestion 2023, des crédits de paiements'élevant à 2 217 950 millions de
          francs CFA comme indiqué dans le tableau A annexé à la présente loi.
        </p>

        <p class="mb-2"><b>Article 40</b></p>
        <p class="mb-2">
          Les crédits de paiement ouverts aux ministères et institutions de l'État au titredes dépenses ordinaires se
          chiffrent à 1 258 200 millions de francs CFA et se répartissent comme suit :
        </p>

        <p class="mb-2"><b>Libellés</b></p>
        <p class="mb-2"><b>M</b></p>
        <p class="mb-2"><b>o</b></p>
        <p class="mb-2"><b>n</b></p>
        <p class="mb-2"><b>t</b></p>
        <p class="mb-2"><b>a</b></p>
        <p class="mb-2"><b>n</b></p>
        <p class="mb-2"><b>t</b></p>

        <p class="mb-2">(en millions de FCFA)</p>
        <p class="mb-2">Charges financières de la dette</p>
        <p class="mb-2">177 200</p>
        <p class="mb-2">Dépenses de personnel</p>
        <p class="mb-2">523 229</p>
        <p class="mb-2">Dépenses d'acquisitions de biens et services</p>
        <p class="mb-2">188 600</p>
        <p class="mb-2">Dépenses de transfert courant</p>
        <p class="mb-2">369 171</p>

        <p class="mb-2"><b>Article 41 :</b></p>
        <p class="mb-2">
          Les crédits de paiement ouverts pour la gestion 2023, au titre des dépenses encapital, se chiffrent à 959 750
          millions de francs CFA et se décomposent comme suit :
        </p>

        <p class="mb-2"><b>Libellés</b></p>
        <p class="mb-2"><b>M</b></p>
        <p class="mb-2"><b>o</b></p>
        <p class="mb-2"><b>n</b></p>
        <p class="mb-2"><b>t</b></p>
        <p class="mb-2"><b>a</b></p>
        <p class="mb-2"><b>n</b></p>
        <p class="mb-2"><b>t</b></p>

        <p class="mb-2">(en millions de FCFA)</p>
        <p class="mb-2">Financement intérieur</p>

        <p class="mb-2">639 150</p>
        <p class="mb-2">Financement extérieur</p>

        <p class="mb-2">320 600</p>

        <p class="mb-2"><b>Article 42 :</b></p>
        <p class="mb-2">
          Les autorisations d'engagement (AE) et les crédits de paiement (CP) ouvertsau titre de la gestion 2023 sont
          répartis par ministère et par programme budgétaire,telsque présentés dans le tableau B annexé à la présente
          loi.
        </p>

        <p class="mb-2"><i>B- DISPOSITIONS RELATIVES AU BUDGET ANNEXE DU FONDS NATIONAL DES</i></p>
        <p class="mb-2"><i>RETRAITES DU BENIN</i></p>
        <p class="mb-2"><b>Article 43 :</b> Ilest ouvert au budget annexe du fonds national des retraites du Bénin</p>
        <p class="mb-2">
          (FNRB) pour la gestion 2023, des crédits de paiement (CP) s'élevant à 105 400 millionsde francs CFA comme
          indiqué dans le tableau A annexé à la présente loi.
        </p>

        <p class="mb-2">C-</p>
        <p class="mb-2"><i>DISPOSITIONS RELATIVES AUX COMPTES</i></p>
        <p class="mb-2">SPECIAUX</p>
        <p class="mb-2"><i>DU</i></p>
        <p class="mb-2"><b>TRESOR</b></p>

        <p class="mb-2"><b>Article 44 :</b></p>
        <p class="mb-2">
          Il est ouvert en 2023, au profit des ministères au titre des comptesd'affectation spéciale, des crédits de
          paiement (CP) s'élevant à 23 050 millions defrancs CFA, conformément à la répartition du tableau A annexé à la
          présente loi.
        </p>

        <p class="mb-2"><b>Article 45 :</b></p>
        <p class="mb-2">
          Le montant des crédits de paiement (CP) ouverts en loi de finances pour lagestion 2023, au titre des concours
          financiers de l'Etat (avances et prêts) s'élève à
        </p>

        <p class="mb-2">12 000 millions de FCFA.</p>
        <p class="mb-2"><b>D-</b></p>
        <p class="mb-2"><i>DISPOSITIONS RELATIVES AUX REPORTS DE CREDITS</i></p>

        <p class="mb-2">
          Article 46 : Leprésident de la République est autorisé, en cours d'année 2023, àprocéder par voie de décret, à
          des reports de crédits de 2022 sur 2023, en cas denécessité et danslerespect de l'équilibre budgétaire voté
          par le parlement.
        </p>

        <p class="mb-2"><b>Il- PLAFOND DES AUTORISATIONS D'EMPLOIS POUR LA GESTION 2023 PAR MINISTERE</b></p>
        <p class="mb-2"><b>ET INSTITUTION DE L'ETAT</b></p>
        <p class="mb-2"><b>Article 47 :</b></p>
        <p class="mb-2">
          Le plafond des autorisations d'emplois rémunérés par l'Etat au titre de lagestion 2023, exprimé en équivalent
          temps plein (ETP), est réparti par ministère etinstitution de l'Etat comme suit :
        </p>

        <p class="mb-2">(En ETPT)</p>
        <p class="mb-2"><b>Section</b></p>
        <p class="mb-2"><b>Ministère/Institution</b></p>
        <p class="mb-2"><b>Plafonds</b></p>
        <p class="mb-2"><b>d'emploi 2022</b></p>
        <p class="mb-2"><b>(A)</b></p>
        <p class="mb-2"><b>Plafonds</b></p>
        <p class="mb-2"><b>d'emploi 2023</b></p>
        <p class="mb-2"><b>(B)</b></p>
        <p class="mb-2"><b>Ecart (B-A)</b></p>

        <p class="mb-2">ASSEMBLEE NATIONALE</p>

        <p class="mb-2">COUR CONSTITUTIONNELLE</p>

        <p class="mb-2">COUR SUPREmE</p>

        <p class="mb-2">-2</p>

        <p class="mb-2">CONSEIL ECONOMIQUE ET SOCIAL</p>

        <p class="mb-2">H.A.A_C.</p>

        <p class="mb-2">HAUTE COUR DE JUSTICE</p>

        <p class="mb-2">-1</p>

        <p class="mb-2">MED!ATEUR DE LA REPUBLIQUE</p>

        <p class="mb-2">C.E.N.A</p>

        <p class="mb-2">PRESIDENCE</p>

        <p class="mb-2">-75</p>

        <p class="mb-2">APDP</p>

        <p class="mb-2">CBDH</p>

        <p class="mb-2">COUR DES COMPTES</p>

        <p class="mb-2">M.D.0</p>

        <p class="mb-2">M.J.I.</p>
        <p class="mb-2">1 376</p>
        <p class="mb-2">1 300</p>
        <p class="mb-2">-76</p>

        <p class="mb-2">M.A.E.0</p>

        <p class="mb-2">M.E.F</p>
        <p class="mb-2">3 653</p>
        <p class="mb-2">3 436</p>
        <p class="mb-2">-217</p>
        <p class="mb-2">015m.I.S.P</p>
        <p class="mb-2">10 526</p>
        <p class="mb-2">12 499</p>
        <p class="mb-2">1 973</p>

        <p class="mb-2">M.A.E.P</p>

        <p class="mb-2">2 335</p>
        <p class="mb-2">2 335</p>

        <p class="mb-2">M.T.F.P</p>

        <p class="mb-2">M.S</p>

        <p class="mb-2">12 215</p>
        <p class="mb-2">14 240</p>

        <p class="mb-2">M.E.S.R.S</p>

        <p class="mb-2">1 798</p>
        <p class="mb-2">1 909</p>

        <p class="mb-2">M.E.S.T.F.P</p>

        <p class="mb-2">13 904</p>
        <p class="mb-2">13 962</p>

        <p class="mb-2">M.E.M.P</p>

        <p class="mb-2">32 117</p>
        <p class="mb-2">31 945</p>

        <p class="mb-2">M.I.T</p>

        <p class="mb-2">M.I.0</p>

        <p class="mb-2">M.C.V.D.D</p>

        <p class="mb-2">1 212</p>

        <p class="mb-2">M.P.M.E.P.E</p>

        <p class="mb-2">M. SPORTS</p>

        <p class="mb-2">M.D.N</p>

        <p class="mb-2">14 443</p>
        <p class="mb-2">15 996</p>

        <p class="mb-2">M.E</p>

        <p class="mb-2">M.E.M</p>

        <p class="mb-2">M.T.C.A</p>

        <p class="mb-2">M.N.D</p>

        <p class="mb-2">261o</p>
        <p class="mb-2">1 1</p>
        <p class="mb-2">2 025</p>

        <p class="mb-2">-172</p>
        <p class="mb-2">-20</p>

        <p class="mb-2">-81</p>

        <p class="mb-2">-24</p>
        <p class="mb-2">I</p>
        <p class="mb-2">-2</p>
        <p class="mb-2">1 553</p>
        <p class="mb-2">-4</p>

        <p class="mb-2"><b>TOTA L</b></p>
        <p class="mb-2">100 398</p>
        <p class="mb-2">105 750</p>
        <p class="mb-2">5 352</p>

        <p class="mb-2">TITRE II</p>
        <p class="mb-2">DISPOSITIONS SPECIALES ET FINALES</p>
        <p class="mb-2">I- DISPOSITIONS SPECIALES</p>
        <p class="mb-2"><b>Article 48 :</b></p>
        <p class="mb-2">Le ministre chargé des finances, ordonnateur principal unique des recettes</p>
        <p class="mb-2">
          du budget de [Etat et des opérations de trésorerie est autorisé, en cours d'année, à procéder à la régulation
          des engagements de dépenses des ministères et institutions de l'Etat en fonction du rythme de recouvrement des
          recettes budgétaires et de mobilisation des ressources de financement.
        </p>

        <p class="mb-2">
          Après appréciation du niveau des ressources disponibles sur le compte unique du trésor et du rythme de
          décaissement des dépenses, il peut procéder à une gestion active de la trésorerie.
        </p>
        <p class="mb-2"><b>Article 49 :</b></p>
        <p class="mb-2">
          Il est autorisé au titre de la gestion 2023, des engagements par anticipationsur les crédits de fonctionnement
          des établissements scolai res, universitaires et despostes diplomatiques et consulaires de la gestion 2024.
          Toutefois, lesdits engagementsne peuventexcéder le quart des crédits ouvertsen 2021.
        </p>

        <p class="mb-2">Le Ministre du Développement et de la</p>
        <p class="mb-2">Coordination de TAction Gouvernementale,</p>
        <p class="mb-2"><b>'/\-</b></p>
        <p class="mb-2"><b>Abdoulaye B10 TCHANE</b></p>
        <p class="mb-2">Ministre d'Etat</p>

        <p class="mb-2"><b>Patrice TALON.-</b></p>
        <p class="mb-2">•</p>
        <p class="mb-2">Le Ministre de II Economiences,</p>

        <p class="mb-2"><b>Romuald WADAGNI</b></p>
        <p class="mb-2">Ministre d' Etat</p>

        <p class="mb-2">DISPOSITIONS FINALES</p>
        <p class="mb-2">
          Article 50 Sont abrogées, toutes dispositions antérieures contraires à celles de laprésente loi.
        </p>
        <p class="mb-2">
          Article 51 La présente loi, qui entre en vigueur à compter du ler janvier 2023, seraexécutée comme Loi de
          l'Etat.
        </p>
        <p class="mb-2">Fait à Cotonou, le 09 décembre 2022</p>
        <p class="mb-2">Par le Président de la République, Chef de l'État, Chef du Gouvernement,</p>

        <p class="mb-2">Le Garde des Sceaux, Ministre de</p>
        <p class="mb-2">Io Justice et de la Législation,</p>
        <p class="mb-2">Séverin Maxime</p>

        <p class="mb-2">AMPLIATIONS: PR 6 - AN 4 - CC 2 - CS 2-</p>
        <p class="mb-2">M 2 - HARO 2 - CES 2-- HCJ 2 - MDC 2 - MJL 2 - MEF 2 - AUTRES</p>

        <p class="mb-2">MINISTERES 20 -SGG 4-JORB 1.-</p>
      </div>
    </div>
  </main>
</Layout>
