---
---

<script>
  const searchForm = document.getElementById("search-form") as HTMLFormElement;
  const searchInput = document.getElementById("search-input") as HTMLInputElement;
  const dropdownNavbarLinks = document.querySelectorAll("[data-dropdown-toggle]") as NodeListOf<HTMLButtonElement>;

  searchForm?.addEventListener("submit", (e) => {
    e.preventDefault();
    if (!window?.find(searchInput?.value)) alert("Le terme de recherche n'a pas été trouvé.");
  });

  dropdownNavbarLinks.forEach((link) => {
    const dropdown = document.getElementById(link.dataset?.dropdownToggle as string) as HTMLDivElement;

    const show = () => dropdown?.classList.remove("hidden");
    const hide = () => dropdown?.classList.add("hidden");

    link.onmouseover = show;
    link.onmouseout = hide;
    dropdown.onmouseover = show;
    dropdown.onmouseout = hide;
  });
</script>

<nav class="px-2 border-gray-200 dark:bg-gray-900 dark:border-gray-700 z-50 w-full bg-white shadow top-0 fixed">
  <div class="container flex flex-wrap items-center justify-between mx-auto h-20">
    <a
      href="javascript:void(0);"
      class="flex items-center"
      id="toggle-sidebar"
      title="Cliquer pour afficher/masquer le menu"
    >
      <svg width="32" height="32" class="mr-2" viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M4 18q-.425 0-.712-.288Q3 17.425 3 17t.288-.712Q3.575 16 4 16h16q.425 0 .712.288q.288.287.288.712t-.288.712Q20.425 18 20 18Zm0-5q-.425 0-.712-.288Q3 12.425 3 12t.288-.713Q3.575 11 4 11h16q.425 0 .712.287q.288.288.288.713t-.288.712Q20.425 13 20 13Zm0-5q-.425 0-.712-.287Q3 7.425 3 7t.288-.713Q3.575 6 4 6h16q.425 0 .712.287Q21 6.575 21 7t-.288.713Q20.425 8 20 8Z"
        ></path>
      </svg>
    </a>
    <form action="#" class="flex mb-2" id="search-form">
      <input
        type="text"
        name="search"
        id="search-input"
        placeholder="Rechercher un mot clé..."
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white rounded-r-none focus:outline-none focus:ring-0 h-10"
      />
      <button
        type="submit"
        class="mr-6 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 rounded-l-none h-10"
        >Rechercher</button
      >
    </form>
    <div class="w-full md:block md:w-auto" id="navbar-dropdown">
      <ul
        class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            href="/"
            class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-white dark:bg-blue-600 md:dark:bg-transparent"
            aria-current="page"
          >
            Accueil
          </a>
        </li>
        <li>
          <button
            id="dropdownNavbarLink"
            data-dropdown-toggle="dropdownNavbar1"
            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
            >Code générale des impôts<svg
              class="w-5 h-5 ml-1"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
            id="dropdownNavbar1"
            class="z-10 hidden absolute font-normal bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul class="py-1 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
              <li>
                <a
                  href="/code-generale-des-impots-2022"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">2022</a
                >
              </li>
              <li>
                <a
                  href="/code-generale-des-impots-2023"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">2023</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button
            data-dropdown-toggle="dropdownNavbar2"
            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
            >Lois des finances<svg
              class="w-5 h-5 ml-1"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
            id="dropdownNavbar2"
            class="z-10 hidden absolute font-normal bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul class="py-1 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
              <li>
                <a
                  href="/lois-des-finances-2022"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">2022</a
                >
              </li>
              <li>
                <a
                  href="/lois-des-finances-2023"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">2023</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
