---
const {id} = Astro.props;
---
<div id={id} class="w-1/2 bg-cyan-50 p-4"> 
    <nav class="block space-y-2  ">
      <div>
        <a href="#bk1" class="block" > 
          LIVRE 1 IMPOTS DIRECTS .................................................................................................................. 5 
        </a>
        <div class="ml-2">
          <a href="#bk1-tl1" class="block" > 
                TITRE 1 IMPOTS SUR LE REVENU ................................................................................................. 5 
          </a>
          <div class="ml-2">
            <a href="#bk1-tl1-ch1" class="block" > 
                  CHAPITRE 1 IMPOT SUR LES SOCIÉTÉS (IS) ............................................................................ 5 
            </a>
            <a href="#bk1-tl1-ch2" class="block" >  
                  CHAPITRE 2 IMPOT SUR LES BENEFICES D’AFFAIRES (IBA) ................................................ 33 
            </a>
            <a href="#bk1-tl1-ch3" class="block" > 
                  CHAPITRE 3 IMPOT SUR LE REVENU DES CAPITAUX MOBILIERS (IRCM) ......................... 38 
            </a>
            <a href="#bk1-tl1-ch4" class="block" > 
                  CHAPITRE 4 IMPOT SUR LES REVENUS FONCIERS (IRF) ..................................................... 53 
            </a>
            <a href="#bk1-tl1-ch5" class="block" > 
                  CHAPITRE 5 TAXE SUR LES PLUS-VALUES IMMOBILIERES (TPVI) ........................................ 56 
            </a>
            <a href="#bk1-tl1-ch6" class="block" > 
                  CHAPITRE 6 IMPOT SUR LES TRAITEMENTS ET SALAIRES (ITS) ............................................ 59 
            </a>
            <a href="#bk1-tl1-ch7" class="block" > 
                  CHAPITRE 7 RETENUES A LA SOURCE ................................................................................. 64 
            </a>
            <a href="#bk1-tl1-ch8" class="block" > 
                  CHAPITRE 8 REGIMES INCITATIFS ......................................................................................... 70 
            </a>
   
          </div>
    
        </div>
  
        <div class="ml-2">
          <a href="#bk1-tl2" class="block" > 
            TITRE 2 TAXES SUR LE PATRIMOINE ......................................................................................... 73
          </a>
          <div class="ml-2">
            <a href="#bk1-tl2-ch1" class="block" > 
                CHAPITRE 1 TAXE FONCIERE UNIQUE (TFU) ....................................................................... 73 
            </a>
            <a href="#bk1-tl2-ch2" class="block" > 
                CHAPITRE 2 TAXE SUR LES VEHICULES A MOTEUR ............................................................ 79 
            </a>
            <a href="#bk1-tl2-ch3" class="block" > 
                CHAPITRE 3 TAXE SUR LES ARMES A FEU ............................................................................ 81 
            </a>
            <a href="#bk1-tl2-ch4" class="block" > 
                CHAPITRE 4 TAXE SUR LES PIROGUES MOTORISEES ET BARQUES MOTORISEES ........... 83 
            </a>
            <a href="#bk1-tl2-ch5" class="block" > 
                CHAPITRE 5 TAXE SUR LES TAXIS DE VILLE DE DEUX A QUATRE ROUES .......................... 84
            </a>
            <a href="#bk1-tl2-ch6" class="block" > 
                  CHAPITRE 6 IMPOT SUR LES TRAITEMENTS ET SALAIRES (ITS) ............................................ 59 
            </a>
            <a href="#bk1-tl2-ch7" class="block" > 
                  CHAPITRE 7 RETENUES A LA SOURCE ................................................................................. 64 
            </a>
            <a href="#bk1-tl2-ch8" class="block" > 
                  CHAPITRE 8 REGIMES INCITATIFS ......................................................................................... 70 
            </a>
  
   
          </div>
    
        </div>
   
        <div class="ml-2">
          <a href="#bk1-tl3" class="block" > 
                    TITRE 3 AUTRES IMPOTS DIRECTS ET TAXES ASSIMILEES ......................................................... 85 
          </a>
          <div class="ml-2">
            <a href="#bk1-t3-ch1" class="block" > 
              CHAPITRE 1 TAXE PROFESSIONNELLE SYNTHETIQUE (TPS) ................................................ 85 
            </a>
            <a href="#bk1-t3-ch2" class="block" > 
              CHAPITRE 2 VERSEMENT PATRONAL SUR SALAIRES (VPS) ............................................... 89 
            </a>
            <a href="#bk1-t3-ch3" class="block" > 
              CHAPITRE 3 CONTRIBUTION DES PATENTES ET DES LICENCES ........................................ 90 
            </a>
            <a href="#bk1-t3-ch4" class="block" > 
              CHAPITRE 4 TAXE DE DEVELOPPEMENT DU SPORT ........................................................... 98 
            </a>
          </div>
    
        </div>
      </div>
  
      <!-- LIVRE 2  -->
      <div>
        <a href="#bk2" class="block" > 
          LIVRE 2 IMPOTS INDIRECTS ............................................................................................................ 99 
        </a>
        <div class="ml-2">
          <a href="#bk2" class="block" > 
              TITRE 1 TAXES SUR LE CHIFFRE D’AFFAIRES ............................................................................. 99 
          </a>
          <div class="ml-2">
            <a href="#bk2-tl-ch1" class="block" > 
              CHAPITRE 1 TAXE SUR LA VALEUR AJOUTEE (TVA) ........................................................... 99 
            </a>
            <a href="#bk2-tl-ch2" class="block" > 
              CHAPITRE 2 TAXE SUR LES ACTIVITES FINANCIERES ET ASSURANCES (TAFA) .............. 125 
            </a>
            <a href="#bk2-tl-ch3" class="block" > 
              CHAPITRE 3 TAXE SUR LES JEUX DE HASARD ................................................................... 128 
            </a>
            <a href="#bk2-tl-ch4" class="block" > 
              CHAPITRE 4 CONTRIBUTION SUR LA VENTE DE SERVICES DE COMMUNICATIONS 
              ELECTRONIQUES .................................................................................................................. 129           </a>
            
   
          </div>
    
        </div>
  
        <div class="ml-2">
          <a href="#bk2" class="block" > 
              TITRE 2 DROITS D’ACCISES .................................................................................................... 131 
          </a>
          <div class="ml-2">
            <a href="#bk2-t2-ch1" class="block" > 
              CHAPITRE 1 TAXE SUR LES PRODUITS SPECIFIQUES ......................................................... 131 
            </a>
            <a href="#bk2-t2-ch2" class="block" > 
              CHAPITRE 2 TAXE SPECIFIQUE UNIQUE SUR LES PRODUITS PETROLIERS ....................... 133 
            </a>
            <a href="#bk2-t2-ch3" class="block" > 
              CHAPITRE 3 TAXE SUR LES VEHICULES DE TOURISME ...................................................... 134 
            </a>
          </div>
    
        </div>
   
        <div class="ml-2">
          <a href="#bk2" class="block" > 
            TITRE 3 AUTRES IMPOTS INDIRECTS ....................................................................................... 135 
          </a>
          <div class="ml-2">
            <a href="#bk2-t3-ch1" class="block" > 
              CHAPITRE 1 TAXE DE SEJOUR ............................................................................................. 135 
            </a>
            <a href="#bk2-t3-ch2" class="block" > 
              CHAPITRE 2 CONTRIBUTION AU DEVELOPPEMENT LOCAL........................................... 136 
            </a>
            <a href="#bk2-t3-ch3" class="block" > 
              CHAPITRE 3 PRELEVEMENT FORFAITAIRE SUR LES VEHICULES D’OCCASION ............ 139 
            </a>
            <a href="#bk2-t3-ch4" class="block" > 
              CHAPITRE 4 TAXE DE PACAGE .......................................................................................... 140 
            </a>
            <a href="#bk2-t3-ch5" class="block" > 
                CHAPITRE 5 TAXE SUR LES SPECTACLES, JEUX ET DIVERTISSEMENTS ............................. 141           </a>
            <a href="#bk2-t3-ch6" class="block" > 
                CHAPITRE 6 TAXE SUR LA VENTE DES BOISSONS FERMENTEES DE PREPARATION 
                ARTISANALE .......................................................................................................................... 142           </a>
            <a href="#bk2-t3-ch7" class="block" > 
                CHAPITRE 7 TAXE SUR LA PUBLICITE .................................................................................. 143 
            </a>
            <a href="#bk2-t3-ch8" class="block" > 
                CHAPITRE 8 TAXE SUR LA CONSOMMATION D’ELECTRICITE ET D’EAU ....................... 145 
            </a>
          </div>
    
        </div>
      </div>
  
  
      <!-- LIVRE 3 -->
      <div>
        <a href="#bk3" class="block" > 
              LIVRE 3 ENREGISTREMENT - TIMBRE ............................................................................................. 147 
        </a>
        <div class="ml-2">
          <a href="#bk3" class="block" > 
              TITRE 1 DROITS D’ENREGISTREMENT ...................................................................................... 147 
          </a>
          <div class="ml-2">
            <a href="#bk3-tl-ch1" class="block" > 
              CHAPITRE 1 CHAMP D’APPLICATION .............................................................................. 147 
            </a>
            <a href="#bk3-tl-ch2" class="block" > 
              CHAPITRE 2 PRINCIPES GENERAUX D’ASSIETTE ............................................................... 149 
            </a>
            <a href="#bk3-tl-ch3" class="block" > 
              CHAPITRE 3 FIXATION DES DROITS .................................................................................... 151 
            </a>
            <a href="#bk3-tl-ch4" class="block" > 
              CHAPITRE 4 DECLARATIONS ET PAIEMENT ...................................................................... 161 
            </a>
            <a href="#bk3-tl-ch5" class="block" > 
              CHAPITRE 5 OBLIGATIONS DES OFFICIERS PUBLICS MINISTERIELS ................................ 167 
            </a>
            <a href="#bk3-tl-ch6" class="block" > 
              CHAPITRE 6 DISPOSITIONS PARTICULIERES AUX MUTATIONS A TITRE GRATUIT ........... 170 
            </a>
   
          </div>
    
        </div>
  
        <div class="ml-2">
          <a href="#bk3-tl3" class="block" > 
              TITRE 2 DROIT DE TIMBRE ....................................................................................................... 175 
          </a>
          <div class="ml-2">
            <a href="#bk3-tl3-ch1" class="block" > 
              CHAPITRE 1 CHAMP D’APPLICATION .............................................................................. 175 
  
            </a>
            <a href="#bk3-tl3-ch2" class="block" > 
              CHAPITRE 2 DETERMINATION DES DROITS DE TIMBRE .................................................... 178 
            </a>
            <a href="#bk3-tl3-ch3" class="block" > 
              CHAPITRE 3 PAIEMENT ........................................................................................................ 189 
            </a>
            <a href="#bk3-tl3-ch4" class="block" > 
              CHAPITRE 4 OBLIGATIONS ................................................................................................. 192 
            </a>
          </div>
    
          </div>
        </div>
      </div>
  
  
      
      <!-- LIVRE 4 -->
      <div>
        <a href="#bk4" class="block" > 
              LIVRE 4 DISPOSITIONS GENERALES ............................................................................................. 195 
        </a>
        <div class="ml-2">
          <a href="#bk4-tl1" class="block" > 
              TITRE 1 OBLIGATIONS DES CONTRIBUABLES ........................................................................ 195 
          </a>
          <div class="ml-2">
            <a href="#bk4-tl1-ch1" class="block" > 
              CHAPITRE 1 IDENTIFICATION DES CONTRIBUABLES ........................................................ 195 
            </a>
            <a href="#bk4-tl1-ch2" class="block" > 
              CHAPITRE 2 OBLIGATIONS DECLARATIVES ...................................................................... 199 
            </a>
            <a href="#bk4-tl1-ch3" class="block" > 
              CHAPITRE 3 OBLIGATIONS COMPTABLES ........................................................................ 206 
            </a>
            <a href="#bk4-tl1-ch4" class="block" > 
              CHAPITRE 4 OBLIGATIONS DE FACTURATION ................................................................. 208 
            </a>
           
   
          </div>
    
        </div>
  
        <div class="ml-2">
          <a href="#bk4-tl2" class="block" > 
              TITRE 2 SANCTIONS ............................................................................................................... 210 
          </a>
          <div class="ml-2">
            <a href="#bk4-tl2-ch1" class="block" > 
              CHAPITRE 1 CONSTATATION DES MANQUEMENTS ET INFRACTIONS .......................... 210 
  
            </a>
            <a href="#bk4-tl2-ch2" class="block" > 
              CHAPITRE 2 SANCTIONS FISCALES .................................................................................... 212 
            </a>
            <a href="#bk4-tl2-ch3" class="block" > 
              CHAPITRE 3 SANCTIONS PENALES .................................................................................... 221 
            </a>
           
          </div>
    
          </div>
        </div>
      </div>
  
      
  
      
      
      <!-- LIVRE 5 -->
      <div>
        <a href="#bk5" class="block" > 
              LIVRE 5 PROCEDURES FISCALES .................................................................................................. 225 
        </a>
        <div class="ml-2">
          <a href="#bk5-tl1" class="block" > 
              TITRE 1 CONTROLE DE L’IMPOT ............................................................................................. 226 
          </a>
          <div class="ml-2">
            <a href="#bk5-tl1-ch1" class="block" > 
              CHAPITRE 1 MOYENS DE CONTROLE ............................................................................... 226 
            </a>
            <a href="#bk5-tl1-ch2" class="block" > 
              CHAPITRE 2 FORMES DE CONTROLE ................................................................................ 232 
            </a>
            <a href="#bk5-tl1-ch3" class="block" > 
              CHAPITRE 3 PROCEDURES DE RECTIFICATION DE L’IMPOSITION................................. 241 
            </a>
            <a href="#bk5-tl1-ch4" class="block" > 
              CHAPITRE 4 LIMITES DU DROIT DE CONTROLE ................................................................ 249 
            </a>
            <a href="#bk5-tl1-ch5" class="block" > 
              CHAPITRE 5 CONSEQUENCES DES IRREGULARITES DE LA PROCEDURE D’IMPOSITION 253 
            </a>
           
   
          </div>
    
        </div>
  
        <div class="ml-2">
          <a href="#bk5-tl2" class="block" > 
              TITRE 2 VOIES DE RECOURS DU CONTRIBUABLE .................................................................. 255 
          </a>
          <div class="ml-2">
            <a href="#bk5-tl2-ch1" class="block" > 
              CHAPITRE 1 CONTENTIEUX DE L’IMPOT ............................................................................ 255 
  
            </a>
            <a href="#bk5-tl2-ch2" class="block" > 
              CHAPITRE 2 DEMANDES GRACIEUSES .............................................................................. 258 
            </a>
            
          </div>
    
          </div>
        </div>
        <div class="ml-2">
          <a href="#bk5-tl3" class="block" > 
              TITRE 3 RECOUVREMENT DE L’IMPOT .................................................................................... 261 
          </a>
          <div class="ml-2">
            <a href="#bk5" class="block" > 
  
              CHAPITRE 1 EXIGIBILITE DE L’IMPOT .................................................................................. 261 
  
            </a>
            <a href="#bk5-tl3-ch2" class="block" > 
              CHAPITRE 2 PAIEMENT DE L’IMPOT ................................................................................... 262 
            </a>
            <a href="#bk5-tl3-ch3" class="block" > 
              CHAPITRE 3 POURSUITES ..................................................................................................... 265 
            </a>
            <a href="#bk5-tl3-ch4" class="block" > 
              CHAPITRE 4 GARANTIES DE RECOUVREMENT ................................................................ 277 
            </a>
           
          </div>
    
          </div>
      </div>
  
      <div>
        <a href="#bk6" class="block" > 
          LIVRE 6 DISPOSITIONS FINALES ................................................................................................... 280
        </a>
      </div>
      <div>
        <a href="#bk1" class="block" > 
          INDEX ........................................................................................................................................... 281        </a>
      </div>
  
    </nav>
      
  </div>
  